/* Fonts */
@font-face {
	font-family: TWCenMT;
	src: url('../fonts/TwCenMT.woff') format('woff');
}
@font-face {
	font-family: TWCenMTBold;
	src: url('../fonts/TwCenMTBold.woff') format('woff');
}
body {
	padding-top: 50px;
	font-family: TWCenMT;
	font-size: 15px;
	line-height: 17px;
}
a, a:visited, a:focus {
	color: #333;
	cursor: pointer;
	text-decoration: none;
}
.no-touch a:hover, a:hover {
	text-decoration: none;
	color: #000;
}
ul {
	text-decoration: none;
}
ul li {
	display: inline-block
}
.small-glyphicon {
	top: -2px;
	left: -2px;
	font-size: 5px;
}
/* Layout */
.sole-container {
	margin-bottom: 30px;
}
.sole-main-content {
	margin-top: 95px;
	margin-bottom: 30px;
    min-height: -webkit-calc(100vh - 233px);     
    min-height: calc(100vh - 233px); 
	display:block;
}
.sole-container-fluid {
    min-height: -webkit-calc(100vh - 108px);     
    min-height: calc(100vh - 108px); 
	display:block;
}
.container {
	float: none;
}
footer {
	width: 100%;
}
/* Headings */
h1, h2, h3, h4 {
	font-family: TWCenMTBold;
	font-size: 20px;
	margin: 0;
}
h1 {
	font-family: TWCenMT;
	color: #848484;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 12px;
	padding-bottom: 12px;
}
h2 {
	text-transform: uppercase;
	text-align: center;
	color: #d84a4a;
	font-size: 22px;
}
h3 {
	font-size: 16px;
	margin-bottom: 9px;
}
h4 {
	font-size: 18px;
	text-transform: uppercase;
	padding: 12px 0 5px;
}
h5 {
	font-family: TWCenMT;
	font-size:22px;
}
.title {
	font-family: TWCenMTBold;
	text-transform: uppercase;
}
.underline {
	border-bottom: 3px solid;
	margin-bottom: 20px;
}
.label {
	font-size: 12px;
	padding: 0;
}
.titleBold16 {
	font-size: 16px;
	font-family: TWCenMTBold;
}
.titleReg16 {
	font-size: 16px;
	font-family: TWCenMT;
	line-height:22px;
}
/* Buttons */
.sole-btn {
	border-radius: 0;
	border: none;
	font-family: TWCenMTBold;
	padding: 8px 10px;
	font-size: 16px;
}
.btn-red, .btn-red:visited {
	background: #d84a4a;
	color: #fff;
}
.no-touch .btn-red:hover {
	background: #c23838;
	color: #fff;
}
.btn-green {
	background: #56ad65;
	color: #fff;
	text-transform: uppercase;
}
.no-touch .btn-green:hover, .btn-green:visited {
	background: #409a50;
	color: #fff;
}
.btn-dark-grey {
	background: #333;
	color: #fff;
}
.btn-grey, .btn:disabled, .btn-grey:visited {
	background: #d8d8d8;
	color: #fff;
}
.no-touch .btn-grey:hover, li.filter a.selected,.no-touch  .btn-dark-grey:hover {
	background: #d84a4a;
	color: #fff;
}
.btn-red-text {
	background: transparent;
	color: #d84a4a;
}
.no-touch .btn-red-text:hover, .btn-red-text:visited {
	color: #fff;
	background: transparent;
}
.btn.focus, .btn:focus,.no-touch  .btn:hover {
	color: #fff;
	text-decoration: none;
}
/* Forms */
.dropdown-menu {
	background: #d84a4a;
	border: 0px solid transparent;
	border-radius: 0px;
	left: auto;
	min-width: 124px;
}
.no-touch .dropdown-menu>li:hover, .dropdown-menu>li:visited, .no-touch .dropdown-menu>li>a:hover, .dropdown-menu>li>a:visited {
	opacity: 1;
}
.form-horizontal {
	margin-top: 10px;
}
.sole-form-control-light {
	background-color: #e7e7e7;
	color: #333;
	border: 1px solid #e7e7e7;
	border-radius: 0;
}
.sole-form-control {
	background-color: #474747;
	color: #fff;
	border: 1px solid #474747;
	border-radius: 0;
}
.sole-form-control:focus, .sole-form-control-light:focus {
	border-color: #777;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(226, 226, 226, 0);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(226, 226, 226, 0);
}
.sign-in-form-control {
	background-color: #e7e7e7;
	color: #333;
	border: 1px solid #e7e7e7;
	text-align: center;
}
input[type=checkbox].css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
input[type=checkbox].css-checkbox + label.checkbox-label {
  	font-family: TWCenMT;
	font-weight:normal;
	color: #d84a4a;
	opacity: 0.5;
	padding: 12px 12px 0;
	display: inline-block;
	line-height: 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
	cursor: pointer;
	text-transform:uppercase;
}
input[type=checkbox].css-checkbox:checked + label.checkbox-label {
	opacity: 1;
}
label.checkbox-label {
	/*background-image: url(../img/icons/checkbox.png);*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background: #e7e7e7 !important;
	border-color: #e7e7e7 !important;
	color: #333333 !important;
}
input[type="radio"].toggle_radio {
  display:none;
}
input[type="radio"].toggle_radio:checked + label {
  background-image: linear-gradient(to top,#333,#333);
  cursor: default;
  border-color: transparent;
}

input[type="radio"].toggle_radio + label {
  background-image: linear-gradient(to top,#d8d8d8,#d8d8d8);
  color: #fff;
  text-align:center;
  padding:10px 30px;
  width:auto;
}

input[type="radio"].toggle_radio:checked + label.btn:hover {
  background-color: inherit;
  background-position: 0 0;
  transition: none;
}

input[type="radio"].toggle-left + label {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="radio"].toggle-right + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Navigation */
.top-nav{
	background-color:#ebebeb;
	margin-bottom:-10px;
}
.top-nav ul li{
	background-color:#ebebeb;
	padding:3px 0;
}
.top-nav ul li a{
	text-transform:uppercase;
	padding:0 15px;
	font-size:13px;
	font-family: TWCenMTBold;
	color:#bfbfbf;
}
.top-nav ul li.current{
	background-color:#333333;
}
.top-nav ul li.current a{
	color:#ffffff;	
}
.navbar-brand {
	padding: 0 0 0 15px;
}
.navbar-brand img {
	opacity: 1.0!important;
}
.navbar-toggle {
	font-family: TWCenMTBold;
}
.no-touch .navbar-toggle:hover, .navbar-toggle:focus {
	background-color: transparent!important;
}
.navbar-collapse {
	border: 0px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0);
}
.navbar-brand>img {
	min-width: 70px;
	padding: 25px;
	background-color: #333;
	/*background: -webkit-linear-gradient(#282828, #333);
	background: -o-linear-gradient(#282828, #333);
	background: -moz-linear-gradient(#282828, #333);
	background: linear-gradient(#282828, #333);*/
}
.sole-navbar-inverse {
	background-color: #333;
	/*background: -webkit-linear-gradient(#282828, #333);
	background: -o-linear-gradient(#282828, #333);
	background: -moz-linear-gradient(#282828, #333);
	background: linear-gradient(#282828, #333);*/
	border-bottom: none;
}
.sole-nav>li>a {
	line-height: 30px;
	padding: 10px 14px;
}
.nav>li>a {
	padding: 10px 14px;
	text-transform: uppercase;
	font-family: TWCenMTBold;
	color: white;
	margin-right: 0px!important;
}
nav ul ul.nav-dropdown-menu {
	display: none;
	width:100%;
	padding-top:3px;
	margin-top:0;
	background-color:transparent;
	padding-bottom:0;
}
	nav ul li:hover > ul.nav-dropdown-menu {
		display: block;
	}
nav ul ul.nav-dropdown-menu li {
	display: block;
	width:100%;
}
nav ul ul.nav-dropdown-menu li a{
	text-align:center;
	text-transform: uppercase;
	color:#999;
	background-color:#333;
}
nav ul ul.nav-dropdown-menu li a:hover{
	background-color: #d84a4a;
	color:#fff;
}

.footer-navbar>li>a {
	line-height: 35px;
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	float:right;
}
.no-touch .nav>li:hover, .no-touch .sole-navbar-inverse .sole-nav>li:hover, .nav>li.active, .no-touch .nav>li.active:hover, .no-touch .sole-navbar-inverse .sole-nav>li.active:hover {
	background-color: transparent;
	color: #fff;
}
.login-tabs>li.active:hover{
	background-color: #333333!important;
}
.featured-nav {
	margin-left: 37.5%;
}
.featured-nav>li.active, .no-touch .featured-nav>li.active:hover {
	background-color: #333;
}
.nav>li>a:hover, .sole-navbar-inverse .sole-nav>li>a:hover, .sole-navbar-inverse .sole-nav>li>a.current, nav ul ul.nav-dropdown-menu li a.current {
	background-color: #d84a4a;
	color: #fff;
}
.sole-search-form-control {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid white;
	text-align: center;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	border-radius: 0;
	width: auto;
	padding-bottom: 0;
}
.sole-search-form-control:focus {
	outline: none;
	border-bottom-color: #d84a4a;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0), 0 0 0px rgba(0,0,0,0);
	box-shadow: inset 0 0px 0px rgba(0,0,0,0), 0 0 0px rgba(0,0,0,0);
}
.sole-nav-search>span {
	padding: 0
}
.sole-search-btn {
	background: transparent;
	border-color: transparent;
	color: white;
	padding-bottom: 0;
	padding-top: 14px;
	float: left;
}
.no-touch .sole-search-btn:hover {
	background: transparent;
	border-color: transparent;
	color: #f1f1f1;
}
.sole-search-btn .glyphicon {
	top: 5px;
}
.sole-login>li>a {
	line-height: 30px;
	padding-right: 0;
}
.sole-login>li>a.green-bg {
	padding-right: 14px;
}
.sole-login>li>a>.hidden-lg {
	position: relative;
	top:-5px;
	padding-right: 15px;
}
.no-touch .sole-login>li:hover {
	background: transparent
}
.no-touch .sole-login>li>a:hover {
	color: #fff;
	background: transparent
}
.sole-alert{
	margin-top: 20px;
}
/* Footer */
.footer-content {
	border-bottom: 1px solid rgba(151, 151, 151, 0.3);
}
.footer-bottom {
	bottom: 0;
}
.footer-navbar {
	margin-bottom: 0;
}
.footer-navbar li a {
	padding-right: 25px;
	color: #979797;
	display: inline-block;
}
.footer-navbar li a.social {
	font-size: 0px;
	background-position: 0 -43px;
	background-repeat: no-repeat;
	background-color: transparent;
}
.footer-navbar li a.pinterest {
	background-image: url(../img/social/pinterest.png);
}
.footer-navbar li a.instagram {
	background-image: url(../img/social/instagram.png);
}
.footer-navbar li a.twitter {
	background-image: url(../img/social/twitter.png);
}
.footer-navbar li a.facebook {
	background-image: url(../img/social/facebook.png);
}
.no-touch .footer-navbar li a.social:hover {
	background-position: 0 17px;
}
.no-touch .footer-navbar li a:hover {
	background-color: transparent;
	color: #fff;
}
.form-container {
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}
.form-content {
	padding-top: 25px;
	display: none;
}
.contact-details {
	margin-top: 40px;
	border-bottom: 1px solid rgba(151, 151, 151, 0.3);
	padding-bottom: 20px;
}
.contact-details>div {
	padding: 5px 0;
}
.contact-details>div>span {
	padding-left: 20px;
	line-height:18px;
}
.contact-details a {
	color:#d84a4a;
}
.tel {
	background: url(../img/icons/telephone.png) no-repeat;
}
.addr {
	background: url(../img/icons/map.png) no-repeat;
}
.reg {
	background: url(../img/icons/register.png) no-repeat;
}
.copy {
	font-size: 11px;
	color: #848484;
	padding: 8px 0;
}
/* Slider */
.sp-loading {
	text-align: center;
	padding: 25px;
	font-size: 12px;
	color: #888;
}
.sp-wrap {
	display: none;
	margin-top: 20px;
}
.sp-large {
	max-width: 75%;
	width: 75%;
	float: right;
}
.sp-thumbs {
	text-align: left;
	display: inline-block;
	float: left;
	width: 25%;
}
.sp-thumbs img {
	float: left;
}
.sp-thumbs a:link, .sp-thumbs a:visited {
	width: 100%;
	height: 50px;
	overflow: hidden;
	opacity: .3;
	display: inline-block;
	background-size: cover;
	background-position: center;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.no-touch .sp-thumbs a:hover {
	opacity: 1;
}
.sp-thumbs a:active, .sp-current {
	opacity: 1!important;
	position: relative;
}
.sp-large {
	position: relative;
	overflow: hidden;
	top: 0;
	left: 0;
}
.sp-large a img {
	max-width: 100%;
	height: auto;
}
.sp-large a {
	display: block;
}
/* Panning Zoomed Image */
.sp-zoom {
	position: absolute;
	left: 0;
	top: 0;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	display: none;
}
/* Lightbox */
.sp-lightbox {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .9);
	z-index: 500;
	display: none;
}
.sp-lightbox img {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 90%;
	max-height: 90%;
	border: 2px solid #fff;
}
#sp-prev, #sp-next {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	z-index: 501;
	color: #fff;
	padding: 14px;
	text-decoration: none;
	background: #000;
	border-radius: 25px;
	border: 2px solid #fff;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	transition: .2s;
}
#sp-prev {
	left: 10px;
}
#sp-prev:before {
	content: '';
	border: 7px solid transparent;
	border-right: 15px solid #fff;
	position: absolute;
	top: 16px;
	left: 7px;
}
#sp-next {
	right: 10px;
}
#sp-next:before {
	content: '';
	border: 7px solid transparent;
	border-left: 15px solid white;
	position: absolute;
	top: 16px;
	left: 18px;
}
.no-touch #sp-prev:hover, .no-touch #sp-next:hover {
	background: #444;
}
/*Social Bars */ 
.social-bar-left {
	position: fixed;
	left: 0px;
	top: 35%;
	width: 50px;
}
.social-bar-left li a.social {
	background-position: 13px 17px;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	padding: 22px;
	line-height: 5px;
}
.no-touch .social-bar-left li a.social:hover {
	background-position: 13px 17px;
	background-color: #333;
}
.social-bar-left li a.pinterest {
	background-color: #cb2027;
}
.social-bar-left li a.facebook {
	background-color: #3b5998;
}
.social-bar-left li a.twitter {
	background-color: #00aced;
}
.social-bar-left li a.instagram {
	background-color: #517fa4;
}
.social-bar-product li a {
	background-color: transparent;
	background-position: 0px -18px;
	font-size: 0;
	background-repeat: no-repeat;
	padding: 11px;
}
.social-bar-product li a.pinterest {
	background-image: url(../img/social/pinterest-red.png);
}
.social-bar-product li a.instagram {
	background-image: url(../img/social/instagram-red.png);
}
.social-bar-product li a.twitter {
	background-image: url(../img/social/twitter-red.png);
}
.social-bar-product li a.facebook {
	background-image: url(../img/social/facebook-red.png);
}
.no-touch .social-bar-product li a.social:hover {
	background-position: 0px 2px;
}
/* --------------------------------------------
----------------  Pages -----------------------
----------------------------------------------*/

/*--------------- Home page ---------------*/
.slider {
	margin-bottom: 25px;
	position: relative;
}
.slider-tittle {
	position: absolute;
	left: 28%;
	bottom: 30%;
	font-size: 20px;
	line-height: 17px;
}
.slider-tittle>span {
	font-size: 22px;
}
.slider-container .lSPrev, .slider-container .lSNext {
	display: none;
}
.home-carousel .owl-carousel-2 {
	margin-left: 0px;
	width: 100%;
}
.carousel-box {
	background-position:  50% -15px;
	background-repeat: no-repeat;
	background-size: contain;
	font-family: TWCenMTBold;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	text-transform: uppercase;
	padding: 32px 32px 0;
}
.release-dates-jcarousel-wrapper>div>ul>li>a.carousel-box {
	padding: 32px 32px 0;
	font-size: 18px;
}
.release-dates-jcarousel-wrapper>div>ul>li>a.selected {
	 font-size: 18px!important;
	 color: #333!important;
	 background-color: transparent!important;
	 margin-top: 0px!important;
	background-position:  50% -15px!important;
	background-repeat: no-repeat!important;
	background-size: contain!important;
 }
.release-dates-jcarousel-wrapper>div>ul>li>a.carousel-box-adidas, .carousel-box-adidas{background-image: url(../img/logos/adidas-grey.png)!important;}
.no-touch .carousel-box-adidas:hover{background-image: url(../img/logos/adidas-red.png)!important;}
.release-dates-jcarousel-wrapper>div>ul>li>a.carousel-box-nike, .carousel-box-nike{background-image: url(../img/logos/nike-grey.png)!important;}
.no-touch .carousel-box-nike:hover{background-image: url(../img/logos/nike-red.png)!important;}
.release-dates-jcarousel-wrapper>div>ul>li>a.carousel-box-puma, .carousel-box-puma{background-image: url(../img/logos/puma-grey.png)!important;}
.no-touch .carousel-box-puma:hover{background-image: url(../img/logos/puma-red.png)!important;}
.release-dates-jcarousel-wrapper>div>ul>li>a.carousel-box-nb, .carousel-box-nb{background-image: url(../img/logos/new-balance-grey.png)!important;}
.no-touch .carousel-box-nb:hover{background-image: url(../img/logos/new-balance-red.png)!important;}
.release-dates-jcarousel-wrapper>div>ul>li>a.carousel-box-reebok, .carousel-box-reebok{background-image: url(../img/logos/reebok-grey.png)!important;}
.no-touch .carousel-box-reebok:hover{background-image: url(../img/logos/reebok-red.png)!important;}
.release-dates-jcarousel-wrapper>div>ul>li>a.carousel-box-jordans, .carousel-box-jordans{background-image: url(../img/logos/jordan-grey.png)!important;}
.no-touch .carousel-box-jordans:hover{background-image: url(../img/logos/jordan-red.png)!important;}
.release-dates-jcarousel-wrapper>div>ul>li>a.carousel-box-yeezy, .carousel-box-yeezy{background-image: url(../img/logos/yeezy-grey.png)!important;}
.no-touch .carousel-box-yeezy:hover{background-image: url(../img/logos/yeezy-red.png)!important;}
.release-dates-jcarousel-wrapper>div>ul>li>a.carousel-box-asics, .carousel-box-asics{background-image: url(../img/logos/asics-grey.png)!important;}
.no-touch .carousel-box-asics:hover{background-image: url(../img/logos/asics-red.png)!important;}
a.carousel-box {
	color: #c1c1c1;
}
.no-touch .carousel-box:hover {
	background-image: url(../img/logos/adidas-red.png);
}
.no-touch .year-carousel .carousel-box:hover{
	background-image:none;
	color: #d84a4a;
}
.home-carousel .owl-prev {
	left: -3px;
}
.new-releases {
	overflow: hidden;
	margin-bottom: 25px;
	transition: .30s ease-in-out;
	-moz-transition: .30s ease-in-out;
	-webkit-transition: .30s ease-in-out;
}
.new-releases-item {
	margin-top: 10px;
	position: relative;
	overflow: hidden;
}
.stockists-slider-wrapper .stockists-slider li {
	cursor: pointer;
}
.new-releases-options {
	font-size: 12px;
	text-align: center;
	padding: 5px;
	background-color: #333;
	/*margin-top: 15px;*/
}
.new-releases-item .new-releases-options {
	transition: .30s ease-in-out;
	-moz-transition: .30s ease-in-out;
	-webkit-transition: .30s ease-in-out;
	opacity: 0;
}
.no-touch .new-releases-item:hover .new-releases-options {
	opacity: 1;
}
.new-releases-options a, .new-releases-options div {
	text-transform: uppercase;
	padding: 2px;
	color: #848484;
	background-color: #333;
}
.no-touch .new-releases-options a:hover {
	color: #fff;
}
.stockistsBtn {
	border-right: 1px solid #848484;
}
.vertical-line {
	height: 95%;
	border-left: 2pt solid #848484;
	display: inline;
	margin: 0 5px;
}
.new-releases-overlay.hidden {
	opacity:0;
	top: 100px;
}
.new-releases-overlay {
	background-image: url(../img/general/new-releases-item-hover.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 0px;
	bottom: 0px;
	opacity: 1;
	transition: .30s ease-in-out;
	-moz-transition: .30s ease-in-out;
	-webkit-transition: .30s ease-in-out;
}
.no-touch .new-releases-item:hover .new-releases-overlay {
	display: block;
}
.new-releases-overlay a {
	color: #EFEFEF;
	font-family: TWCenMT;
	font-size: 14px;
	padding: 0;
}
.new-releases-overlay a span.uppercase {
	font-family: TWCenMTBold;
	font-size: 16px;
	margin-top: 4px;
}
.no-touch .new-releases-overlay a:hover {
	color: #fff;
}
.new-releases-overlay a.top {
	margin-top: 10%;
	margin-left: 0;
}
.new-releases-item a.bottom {
	margin-top: 35%;
	margin-right: 0;
	text-align: right;
}
.new-releases-item img {
	transition: opacity .30s ease-in-out;
	-moz-transition: opacity .30s ease-in-out;
	-webkit-transition: opacity .30s ease-in-out;
}
.release-dates {
	font-size: 11px;
	margin-top: 5px;
}
.top-bar {
	border-bottom: 1px solid #cfcfcf;
	border-top: 1px solid #cfcfcf;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
}
.release-dates-jcarousel-wrapper>.jcarousel-control-prev, .release-dates-jcarousel-wrapper>.jcarousel-control-next{
	top:58%;
}
.home .left-tag-small-container {
	position: absolute;
	left: 0px;
	bottom: -45px;
}
.right-tag {
	font-family: TWCenMTBold;
	font-size: 16px;
	padding: 6px 30px;
	float: none;
	transition: .30s ease-in-out;
	-moz-transition: .30s ease-in-out;
	-webkit-transition: .30s ease-in-out;
}
.no-touch .right-tag:hover {
	padding: 6px 50px;
}
.no-touch .right-tag:hover, .right-tag:visited {
	color: #fff;
}
.btn-more{
	padding: 10px 24px;
	font-size: 16px;
}
/* Featured */
.grid {
	height: 425px;
	overflow: hidden;
}
.filters-button-group {
	text-align: center;
	margin-bottom: 15px;
}
.filters-button-group button {
	background-color: #d8d8d8;
}
.filters-button-group .is-checked {
	background-color: #333;
}
.no-touch .filters-button-group .is-checked:hover {
	color: #fff;
}
.element-item {
	-webkit-border-image: -webkit-gradient(linear, 0 0, 0 90%, color-stop(0, #c7c7c7), color-stop(0.5, #c7c7c7), color-stop(0.5, #c7c7c7), color-stop(1, transparent)) 0 100%;
	border-right-width: 1px;
	border-left-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	margin-top: 10px;
}
.element-item-inner {
	padding: 0 10px 10px 10px;
}
.element-item-inner>ul {
	padding: 10px 0px;
}
.element-item-inner a.read-more {
	padding-top: 10px;
	transition: opacity .30s ease-in-out;
	-moz-transition: opacity .30s ease-in-out;
	-webkit-transition: opacity .30s ease-in-out;
}
.no-touch .element-item-inner:hover a.read-more {
	color: #d84a4a;
}
/*Trending*/
.tags {
	padding: 5px 0;
}
.tags li:after {
	content: "|";
	padding-left: 5px;
}
.tags li.last:after {
	content: "";
}
.trending-description {
	padding-top: 8%;
}
.left-tag-small-container {
	position: absolute;
	left: 50%;
	bottom: 0;
}
.left-tag-small {
	font-family: TWCenMTBold;
	font-size: 16px;
	padding: 10px;
	left: 0;
	transition: left .30s ease-in-out;
	-moz-transition: left .30s ease-in-out;
	-webkit-transition: left .30s ease-in-out;
}
.no-touch .left-tag-small:hover {
	left: 15px;
}
.right-tag-small-container {
	position: absolute;
	right: 0px;
	margin-top: 8px;
}
.right-tag-small {
	font-family: TWCenMTBold;
	font-size: 16px;
	padding: 10px;
	right: 0;
	transition: right .30s ease-in-out;
	-moz-transition: right .30s ease-in-out;
	-webkit-transition: right .30s ease-in-out;
}
.no-touch .right-tag-small:hover {
	right: 15px;
}
.no-touch .left-tag-small:hover, .left-tag-small:visited, .no-touch .right-tag-small:hover, .right-tag-small:visited {
	color: #fff;
}
.most-viewed-box {
	text-align: center;
	margin-bottom: 10px;
}
.divider span {
	border-bottom: 1px solid #848484;
	padding-bottom: 6px;
	margin-bottom: 4px;
}
.img-container {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 236px;
}
/* Most viewed */
.most-viewed-box {
	min-height: 160px;
}
.most-viewed-box a {
	width: 100%;
	min-height: 160px;
	text-align: center;
	margin-bottom: 10px;
}
.no-touch .most-viewed-box-01:hover img {
	content: url(../img/logos/nike-red.png);
}
.no-touch .most-viewed-box-02:hover img {
	content: url(../img/logos/yeezy-red.png);
}
.no-touch .most-viewed-box-03:hover img {
	content: url(../img/logos/jordan-red.png);
}
.no-touch .most-viewed-box-04:hover img {
	content: url(../img/logos/adidas-red.png);
}
.no-touch .most-viewed-box-05:hover img {
	content: url(../img/logos/new-balance-red.png);
}
.no-touch .most-viewed-box-06:hover img {
	content: url(../img/logos/asics-red.png);
}
.no-touch .most-viewed-box-07:hover img {
	content: url(../img/logos/reebok-red.png);
}
.no-touch .most-viewed-box-08:hover img {
	content: url(../img/logos/puma-red.png);
}
/*--------------- Product page ---------------*/
.product-page .social-bar-left {
	display: none;
}
.button-holder {
	margin: 7px 0;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 3px;
	padding: 0 0 12px 0;
}
.nav-tabs .dropdown-menu {
	margin-top: 6px;
}
.dropdown-menu li a {
	color: #fff;
	text-align: left;
	padding: 6px 0;
}
.dropdown-menu-grey {
	background: #848484;
}
.no-touch .dropdown-menu-grey>li:hover, .no-touch .dropdown-menu-grey>li>a:hover {
	background: #3d3d3d;
}
.viewinfo, .hideinfo {
	font-size: 12px;
}
/* Releases dates */
.has-releases {
	background: url(../img/icons/red-dot.jpg) 30% 16% no-repeat;
}
/*--------------- Sign in page ---------------*/	
.sign-in-page .social-bar-left {
	display: none;
}
.panel-info>.panel-heading {
	font-family: TWCenMTBold;
	background-color: transparent;
	border: none;
	color: #000;
	padding: 40px 10px;
	margin-bottom: 20px;
}
.panel-title {
	font-size: 36px;
	line-height: 36px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .no-touch .nav-tabs>li.active>a:hover, .nav-tabs>li>a, .nav-tabs>li>a:focus, .no-touch .nav-tabs>li>a:hover {
	border-radius: 0;
}
.nav-tabs>li.active, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .no-touch .nav-tabs>li.active>a:hover {
	background-color: #333;
	color: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .no-touch .nav-tabs>li.active>a:hover {
	background-color: #333;
	color: #fff;
	border: 1px solid transparent;
	margin: 0;
}
.nav-tabs {
	border: none;
	margin-top: 10px;
}
.nav-tabs>li {
	background-color: #d8d8d8;
}
.sidebar-nav-tabs>li>a {
	padding: 10px 0;
}
.tab-content, .tab-content>.tab-pane, .tab-content>.tab-pane {
	background-color: transparent;
	border: none;
}
.tab-content>.tab-pane>div {
	margin-bottom: 5px;
}
.no-touch .nav-tabs>li>a:hover, .no-touch .nav-tabs>li:hover {
	background-color: #d84a4a;
	border-color: #d84a4a;
	color: #fff;
}
/* ----------- Release dates -------------- */
/* Top Bar */
.top-bar {
	margin-bottom: 34px;
	padding-left: 0;
}
/* Left Bar */
.filter-dropdown {
	margin: 6px 0;
}
.no-touch .filter-dropdown>button:hover, .filter-dropdown>button:active, .filter-dropdown>button.active, .filter-dropdown>button.focus, .filter-dropdown>button:focus {
	background-color: transparent!important;
}
.no-touch .filter-dropdown>button:hover>h4, .filter-dropdown>button:focus>h4 {
	color: #d84a4a;
}
.no-touch .filter-dropdown>button:hover>h4::before, .filter-dropdown>button:focus>h4::before {
	background-image: url(../img/icons/arrow-red.jpg);
}
.filter-dropdown>.dropdown-menu, .filter-content {
	position: inherit;
	top: -3px;
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: transparent;
	padding-bottom: 6px;
	padding-top: 0;
	margin-bottom: 0;
	max-height: 155px;
	overflow: auto;
}
.sort-menu>li{
	font-family: TWCenMT;
	font-weight: normal;
	color: #d84a4a;
	padding: 7px 15px;
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
	cursor: pointer;
	opacity: 0.5;
}
.filter-dropdown>.dropdown-menu>li:hover, .filter-content>li:hover, .filter-dropdown>.dropdown-menu>li.active, .filter-content>li.active {
	opacity: 1;
}
.filter-content select, .filter-content select:active {
	border: none;
	cursor: pointer;
}
.filter-content select option {
	padding: 7px 12px;
}
.filter-content select:focus {
	border: none;
}
.filter-content select:focus option:checked {
	border: none;
	background: #d84a4a;
}
.select-wrap {
	height: 140px;
	overflow: hidden;
	border: none;
	margin: 5px 0 10px;
}
.select-wrap .select {
	width: 135%;
	height: 160px;
	overflow: auto;
	display: block;
}
.select-wrap .select li {
	display: block;
	width: 100%;
}
.select-wrap .select li a {
	padding: 7px 12px;
	width: 100%;
	float: left;
}
.no-touch .select-wrap>ul.select>li:hover, .no-touch .select-wrap>ul.select>li>a:hover, .select-wrap>ul.select>li>a.active {
	background: #333;
	color: white;
}
.no-touch .select-wrap>ul.select-brands>li:hover, .no-touch .select-wrap>ul.select-brands>li>a:hover, .no-touch .select-wrap>ul.select-colors>li:hover, .no-touch .select-wrap>ul.select-colors>li>a:hover {
	background: #E8E8E8;
	color: #333333;
}
.select-wrap>ul.select-brands>li>a.active, .select-wrap>ul.select-colors>li>a.active {
	background: transparent;
	color: #333333;
	font-family: TWCenMTBold;
}
/* Right Bar */
.filter-block {
	border: 1px solid #d8d8d8;
	margin-bottom: 4px;
}
.filter-block-sort {
	border: none;
}
.filter-block h4 {
	text-transform: uppercase;
	color: #d84a4a;
	position: relative;
	padding: 10px 0px 10px 15px;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	border-bottom: 1px solid #d8d8d8;
}
.filter-block h4.closed {
	border-bottom: 1px solid transparent;
}
.filter-block-sort h4.sort-title {
	border: 1px solid #d8d8d8;
	text-transform: capitalize!important;
	color: #9a9a9a!important;
}
.filter-block-sort h4.sort-title::before {
	background-image: url("../img/icons/arrow-grey.jpg")!important;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.filter-block-sort h4.sort-title.closed::before {
	background-image: url("../img/icons/arrow-grey.jpg")!important;
	-webkit-transform: translateY(-50%) rotate(90deg);
	-moz-transform: translateY(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) rotate(90deg);
	-o-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
}
.no-touch .filter-block h4:hover {
	color: #d84a4a;
}
.filter-block h4::before {
	/* arrow */
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 16px;
	height: 16px;
	background: url("../img/icons/arrow-red.jpg") no-repeat center center;
	-webkit-transform: translateY(-50%) rotate(90deg);
	-moz-transform: translateY(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) rotate(90deg);
	-o-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.filter-block-red-title h4.closed::before {
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background: url("../img/icons/arrow-red.jpg") no-repeat center center;
}
.sort-menu {
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
}
.new-releases-main {
	padding-top: 42px;
	margin-top: 24px;
}
.gallery li {
	display: none;
}
.gallery .fail-message {
	display: none;
	text-align: center;
	color: #333;
	padding: 20px 35px;
	font-size: 21px;
}
ul.stockists-slider li {
	display: inline-block;
}
/* ----------- Search page - News -------------- */
.overlay-responsive div, .overlay-responsive ul{
  padding: 8px 0;
}
.overlay-responsive div, .overlay-responsive ul{
  padding: 4px 0;
}
.news .left-tag-small-container {
	bottom: 7%;
}
.news .sole-form-control {
	background-color: #E4E4E4;
	border: 1px solid #ececec;
	margin-bottom: 5px;
}
.news .trending-description {
	padding-top: 0;
}
.news .trending-description h4, .news .trending-description div, .news .trending-description ul {
	padding-bottom: 8px;
}
.news .divider span {
	padding-bottom: 9px;
	margin-bottom: 7px;
}
.search-tabs-holder {
	font-family: TWCenMTBold;
	color: #848484;
	margin-top: -6px;
	border-bottom: 1px solid #cfcfcf;
}
.search-tabs-holder a {
	background-color: #d8d8d8;
	padding: 8px;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 6px;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-family: TWCenMT;
}
.search-tabs-holder span {
	padding-top: 14px;
	color: #d8d8d8;
}
.search-tabs-holder .active, .no-touch .search-tabs-holder .active:hover {
	color: #fff;
	border-bottom: 1px solid #3d3d3d;
	background-color: #3d3d3d;
}
.border-bottom-holder {
	padding: 14px 0;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 14px;
}
.border-bottom-holder h3 {
	font-size: 20px;
}
/* Sidebar Tabs */
.tab-pane {
	margin: 15px 0;
}
.search .tab-pane div {
	margin: 5px 0;
}
.tab-pane-inner-title {
	padding-top: 8%;
}
/* ----------- Search page - Product -------------- */
h2.search_term {
	text-align: left;
	font-size: 1.4em;
	margin-bottom: 1em;
}

.search_term span {
	text-transform: capitalize;
	color: #C1C1C1;
}
/*-------- Single article page ------------*/
.article-tags-container {
	border-top: 1px solid #cfcfcf;
	padding: 10px 0;
	margin: 10px 0;
	border-bottom: 1px solid #cfcfcf;
}
.article-tags-container span {
	text-transform: uppercase;
}
.post-content > * {
	max-width: 100%;
}
/* ----------- shoebox -------------- */
.countdown div {
	display: inline-block;
	margin: 0;
	padding-bottom: 7px;
	background-color: #333;
	font-family: TWCenMT;
	color: white;
	text-transform: uppercase;
	text-align: center;
	border-right: 1px solid #fff;
	float: left;
	width: 25%;
	margin-bottom: 1px;
}
.countdown div span {
	color: white;
	background: #333333;
	background: -moz-linear-gradient(top, #333333 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #000000));
	background: -webkit-linear-gradient(top, #333333 0%, #000000 100%);
	background: -o-linear-gradient(top, #333333 0%, #000000 100%);
	background: -ms-linear-gradient(top, #333333 0%, #000000 100%);
	background: linear-gradient(to bottom, #333333 0%, #000000 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000', GradientType=0 );
	border-bottom: 1px solid #fff;
	width: 100%;
	padding: 10px;
	float: left;
}
.countdown div span.top {
	font-size: 30px;
	padding: 16px 0;
	margin-bottom: 5px;
}
.trash {
	transition: opacity 200ms;
	width: 18px;
	height: 18px;
	opacity: 0.8;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
}
.trash > .lid {
	transform-origin: 19% 100%;
	transition: transform 150ms;
	-webkit-transform-origin: 12% 100%
}
.trash > .can, .trash > .lid {
	position: absolute;
	right: 0px;
	top: 2px;
	-webkit-transform: rotate(0deg);
	-webkit-transition: -webkit-transform 250ms
}
.trash > .lid {
	top: -3px;
}
.no-touch .trash > .can:hover {
	border: none!important;
	box-shadow: none!important
}
.trash > span {
	display: inline-block
}
.trash:focus > .lid, .no-touch .trash:hover > .lid, .no-touch .delete-shoe:hover .trash .lid {
	transform: rotate(-45deg);
	transition: transform 250ms;
	-webkit-transform: rotate(-45deg);
	-webkit-transition: -webkit-transform 250ms
}
.check {
	background-image: url(../img/icons/check.png);
	background-repeat: no-repeat;
	background-size: contain;
	color: transparent;
	margin-right:-15px;
}
.opacity0{opacity:0;}
.shoebox-box {
	margin: 30px 0;
	padding-bottom: 25px;
}
.shoebox-details {
	margin-top: 9%;
}
.shoebox-details button {
	border: 1px solid #ffffff;
	text-align:center;
}
.shoebox-carousel .carousel-box span {
	width: auto;
	margin:0!important;
}
.shoebox-carousel .jcarousel ul .carousel-box {
	color: #333;
}
.shoebox-carousel .carousel-box {
	opacity: 0.8;
	transition: .30s ease-in-out;
	-moz-transition: .30s ease-in-out;
	-webkit-transition: .30s ease-in-out;
	background-image:none;
}
.no-touch .shoebox-carousel .carousel-box:hover {
	opacity: 1;
	background-image:none;
}
/*--------------- About ---------------*/
.about-box {
	padding: 10%;
}
.about-box-social>div {
	padding: 10px 0;
}
.about-box-social>div>.line {
	padding-top: 4%;
	margin-left: 5%;
}
.about-box-social>div>h3 {
	padding-top: 3%;
}
.about-box-social>div>h3>.white {
	margin-right: 1px;
}
.top-title {
	position: absolute;
	top: 40px;
	font-size: 32px;
}
.top-title-right {
	right: 1px;
}
.top-title-left {
	left: 2px;
}
/* Carousel */			
.jcarousel-wrapper {
	position: relative;
}
.jcarousel {
	position: relative;
	overflow: hidden;
	width: 97%;
	margin: 0 auto;
}
.jcarousel ul {
	width: 20000em;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}
.jcarousel li {
	float: left;
	border: 1px solid #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 6px;
}
.jcarousel img {
	display: block;
	max-width: 100%;
	height: auto !important;
}
/** Carousel Controls **/
.jcarousel-control-prev, .jcarousel-control-next {
	position: absolute;
	top: 37%;
	margin-top: -15px;
	width: 15px;
	height: 30px;
	background-repeat: no-repeat;
	background-color: #fff;
	background-size: contain;
}
.jcarousel-control-prev {
	left: -2px;
	background-image: url(../img/icons/prev.png);
}
.jcarousel-control-next {
	right: -12px;
	background-image: url(../img/icons/next.png);
}
.jcarousel ul .carousel-box {
	width: 100%;
	/*color: #c1c1c1;*/
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	/*padding: 65px 32px 28px;*/
}
.carousel-box span {
	text-align: center;
	margin-top: 40px;
	float: left;
	width: 100%;
}
.months-carousel .carousel-box {
	background-image: none;
	padding: 15px 0!important;
}
.months-carousel .carousel-box span {
	margin-top: 0;
}
.no-touch .months-carousel li .carousel-box:hover, div.months-carousel>div>ul>li>a.selected, div.months-carousel>div>ul>li>a.selected>span, .no-touch .months-carousel li .carousel-box:hover span {
	background: #fff;
	color: #d84a4a;
}
.no-touch .months-carousel .carousel-box:hover small, .months-carousel .selected small {
	color: #d84a4a;
}
.months-carousel .jcarousel-control-prev, .months-carousel .jcarousel-control-next {
	zoom: 0.7;
	top: 65px;
}
.months-carousel span {
	color: #fff;
	padding-top: 10px;
}
.months-carousel .owl-prev {
	left: -22px;
}
.months-carousel .owl-next {
	right: -22px;
}
.year-carousel {
	padding-left: 0;
}
.year-carousel .carousel-box {
	padding: 20px 12px 22px 0;
	font-family: TWCenMTBold;
	min-height: inherit;
	color: #c1c1c1;
	background-color: transparent;
	font-size: 20px;
	background-image: none;
}
.year-carousel .filters {
	margin-top: 12px;
	border-right: 1px solid #cfcfcf;
}
.year-carousel>div>ul>li>a.selected {
	font-size: 22px;
	color: #d84a4a;
	background-color: #fff;
	margin-top: -2px;
}
.year-carousel>div>ul>li>a.selected {
	font-size: 22px;
	color: #d84a4a;
	background-color: #fff;
	margin-top: -2px;
}
/* Boxes */
.box {
	margin-top: 10px;
	padding: 0 7px;
	font-size: 13px;
}
.box>div>p, .box>div>p>b {
	margin: 0px;
	font-weight: 300;
	font-size: 11px;
}
.thumbnail {
	border-radius: 0;
}
.img-responsive {
	margin: 0 auto;
	width:100%;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}
.img-responsive.center-block, .owl-item{
	/*height: 155px;*/
}
.product-page a .img-responsive {
	opacity: 0.8;
}
.no-touch .product-page a:hover .img-responsive {
	opacity: 1;
}
/* Font-Colors */
.white, .white:visited {
	color: #fff;
}
.red, .red:visited {
	color: #d84a4a;
}
.no-touch a.red:hover {
	color: #c23838;
}
.green, .green:visited {
	color: #56ad65;
}
.grey, .grey:visited {
	color: #848484;
}
.new-releases .grey {
	color: #848484;
	display: inline-block;
	min-height: 3em;
}

.dark-grey, .dark-grey:visited {
	color: #333;
}
/* Backgrounds */
.primary-bg {
	background: #333;
}
.secondary-bg {
	background: #f7f7f7;
}
.red-bg {
	background: #d84a4a;
}
.grey-bg {
	background: #d8d8d8;
}
.green-bg {
	background: #56ad65;
}
.dark {
	background-color: #333;
	color: white;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}
/* General */
.uppercase {
	text-transform: uppercase;
}
.no-padding {
	padding: 0!important;
}
.no-border {
	border: 0px solid transparent!important;
}
.border-bottom {
	border-bottom: 1px solid #cfcfcf;
}
.height40 {
	height: 40px;
	clear:both;
}
.margin-left {
	margin-left: 5px;
}

/*--------------- Social Icons ---------------*/

.social-icons-holder {
	position: fixed;
	left: 0;
	bottom: 30%;
	height: 180px;
	z-index: 10000;
	display: table;
}
.social-icon-block {
	height: 25%;
	font-size: 20px;
	width: 40px;
	color: white;
	padding: 10px;
	text-align: center;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}
.no-touch .social-icon-block:hover {
	width: 70px;
}
.facebook {
	background-color: #3b5998;
}
.twitter {
	background-color: #00aced;
}
.instagram {
	background-color: #517fa4;
}
.pinterest {
	background-color: #cb2027;
}

/*------------------ Shoebox --------------------*/
.shoebox_released{
	display: none;
}
.shoebox_released > * {
	margin: auto;
	display: table;
}
h3.shoebox_stock {
	font-size: 1.5em;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.stock-1 {
	color: #00B75A;
}
.stock- {
	color: #d84a4a;
}
.update-available[data-val='1'], .update-stockists[data-val='1'] {
	background: #333;
	color: #fff;
}
.update-available, .update-stockists {
	background: #d8d8d8;
	color: #fff;
}






/*-------------- Scrollbars -------------------*/
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #d8d8d8;
}

::-webkit-scrollbar-thumb {
	background: #333;
	border: 1px solid #333;
}

