
div.content a, div.navigation a {
	text-decoration: none;
	color: #777;
}
div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}
div.controls {
	margin-top: 5px;
	height: 23px;
}
div.ss-controls {
	display: none;
}
div.nav-controls {
	width: 100%
}
div.nav-controls>a {
    width: 32px;
    display: block;
    top: 45%;
    height: 32px;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    margin-top: -16px;
    -webkit-transition: opacity .35s linear 0s;
    transition: opacity .35s linear 0s;
	background-repeat: no-repeat;	
    background-color: #FFF;
    background-position: center center;
}
div.nav-controls>a.prev {
    left: 0px;
	background-image:url(../images/prev.png);
}
div.nav-controls>a.next {
    right: 0px;
	background-image:url(../images/next.png);
}
div.slideshow-container {
	position: relative;
	clear: both;
	height: 52vh; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 550px;
	height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right:0;
}
div.slideshow a.advance-link {
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
	width: 100%;
}
div.download {
	float: right;
}
div.caption-container {
	position: relative;
	clear: left;
	height: 30px;
}
span.image-caption {
	display: block;
	position: absolute;
	width: 550px;
	top: 0;
	left: 0;
}
div.caption {
	padding: 12px;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.navigation {
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 5px 10px 5px 0;
	list-style: none;
}
a.thumb {
	display: block;
	height:50px;
	width:80px;
	position:relative;
	overflow:hidden;
}
ul.thumbs li.selected a.thumb {
	background: #fff;
}
a.thumb:focus {
	outline: none;
}
.thumb img {
	/*position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;*/
	width: 100%;
}
div.pagination {
	clear: both;
}
div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
}
div.navigation div.bottom {
	margin-top: 12px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
	background-color: #000;
	border-color: #000;
	color: #fff;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}
