

/* Menu */
@media (max-width: 1024px) {
	.container{
		width: auto;
	}
	#header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 5px 0;
	}
	#header .logo {
		margin: 0;
	}
	.home #header{
		background-color: #f7f7f7;
	}
	#header .logo a{
		margin-top: 6px;	
	}
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.in {
        overflow:inherit;
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: left;
		width: 100%;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
		z-index:999;
	}
.navbar-collapse, .navbar-collapse.in	{
	border: none;
}
#m-site-navigation{
	display: block!important;
	float:none;
	left:0;
	right: 0;
	top: 60px;
	position:fixed;
	z-index:999;
	height:100vh;
	background:#fff;
	border-top: 1px solid #e8e8e8;
}
#m-site-navigation ul#topnav li > a, .navbar_inner > div > ul > li> a, .navbar_inner > ul > li> a {
	background-color: #fff;
	border: none;
	cursor: pointer;
	display: block;
	padding: 10px 30px 5px!important;
	text-align: left;
	margin: 0;
	background-image: url(../images/arrow_right.png) ;
	background-repeat:no-repeat;
	background-position: 95% center;
	background-size: 9px;
	color:#333!important;
}
#m-site-navigation>.navbar_inner>.select-menu{
	display: none;	
}
.navbar_inner > div > ul > li > a:hover, .navbar_inner > div > ul > li.sfHover > a, .navbar_inner > div > ul > li.current-menu-item > a, .navbar_inner > div > ul > li.current_page_item > a, .navbar_inner > ul > li > a:hover, .navbar_inner > ul > li.sfHover > a, .navbar_inner > ul > li.current-menu-item > a, .navbar_inner > ul > li.current_page_item > a, li.current-page-ancestor a{
	border-bottom: none!important;	
}

	.visible-mobile{
		display: block;	
	}
	.navbar-brand {
		position: absolute;
		width: auto;		
		left: calc(50% - 44px);
		top: 0;
		text-align: center;
		margin: auto;
	}
	.navbar-toggle {
		z-index:3;
	}
	.search-top{
		height: 23px;
		background-size: 21px;
		background-image: url(../images/search_active.png) ;
		margin-top: 16px;
	}
	body.mac .search-top{
		background-position:0 2px;	
	}
	.navbar-toggle{
		border: 0px solid transparent;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #333333;
	}
	.menu_arrow, .search_arrow, .search_arrow_page {
		top: 33px;
		left: 15px;
		border-top-width: 0;
		position: fixed;
		font-size: 27px;
		background-image:url(../images/menuarrow.png);
		width:40px;
		height:40px;
		background-position: top center;
    	background-size: contain;
		z-index:999;
	}
	.search_arrow {
		left: auto;
		right:15px;
	}
	.search_arrow_page {
		left: auto;
		right:11px;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background:#f7f7f7;
		box-shadow: none;
		border:none;
		outline: none;
	}
	.button_holder_mobile{
		position:absolute;
		top: 65%;
		left: 15px;
		right: 15px;
		overflow:hidden;	
	}
	.button_holder_mobile #register-link, .button_holder_mobile .btn-dark{
		margin-left: 0px;
		margin-top: 0px;
		line-height: 24px;
		font-size:17px;
	} 
	.footer-wrap{
		border: none;	
	}   
	.mobile-submenu{
		position : absolute;
		right: 0;
		left: 0;
		top: 45px!important;
		border: none;
    	box-shadow: none!important;	
	} 
	.mobile-submenu li a{
		padding-left: 45px!important;
		text-transform:capitalize!important;	
	}
	.mobile-footer-menu {
		padding-left: 0px;
	}
	.mobile-footer-menu li {
		text-transform: uppercase;
		border-bottom: 1px solid #bfbfbf;
		float: left;
		width: 100%;
		padding: 13px 10px;
	}
	body.mac .button_holder_mobile .btn {
		line-height:2em;
	}
	/* Search page */
	#search{
		left: 0;
		top: 68px;
		width: 100vw;
		height:100vh;
		padding-right:0!important;
		padding-left:0!important;
	}
	#search .searchform, .searchform .field{
		margin-top: 0;	
	}
	.middle-border-title{
		padding-top: 40px;
    	border: none;	
	}
	#search  .close{
		top: 4%;
	}
	.searchform .field{
		font-size: 18px!important;
		text-align:left;
		text-transform:capitalize;
		border-bottom: 1px solid #ccc;
		border-radius:0;
		-webkit-appearance:none;
		min-height: 10px!important;
		    margin-top: 30px;
	}
	.searchform .field:focus{
		border-bottom: 1px solid #ccc;
	}
	.search-form-control {
		min-height: auto!important;
	}
	.navbar-toggle{
		width: 51px;	
	}
	/* General */
	.no-padding-right-xs{
		padding-right:0!important;	
	}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#m-site-navigation{
		top: 71px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border-color: transparent;	
	}
	#header{
		border-bottom: 1px solid #e8e8e8;
	}
	.site-main {
		padding-top: 80px;
	}
	.site-main .container{
    	padding: 0;
	}
	#filter_option .filter-option:first-child{
		margin-right: 4px;	
		margin-left: -4px;	
	}
	#filter_option .filter-option{
		margin-top: 4px;	
		margin-bottom: 4px;	
	}
	.filter-option ul{
		max-height:75px;
	}
	.delete-notification{
		display: block;	
	}
	.pop-up{
		left: 14vw;
    	width: 75vw;
	}
	#sell .bordered-box, #wanted .bordered-box, .edit-profile.bordered-box{
		border:none; 
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.site-main {
		padding-top: 80px;
	}
	.site-main .container{
    	padding: 0;
	}
	.notification-container{
		padding:0;	
	}
	.delete-notification{
		display: block;	
	}
	.search-user-box {
		width: 100%;
	}
	#shoes>div:first-child {
		margin-top: 0px;    
		font-size: 17px;	
	}
	#shoes>div .filter-sort {
		margin-top: -5px;
	}
	.search-title img{
		width:14px;
		margin-top: -5px;
    	margin-right: 4px;	
	}
	.upload-shoe-nav-tabs{
		margin:0;
		width:100%;
	}
	.upload-shoe-nav-tabs li{
		width:50%;
		padding:0;
	}
	.upload-shoe-nav-tabs li a{
		width:100%;
		text-align:center;
    	border-bottom: 1px solid #999;
	}
	.upload-shoe-nav-tabs li:after{
		border:none;
		height:0;	
	}
	#sell .bordered-box, #wanted .bordered-box, .edit-profile-page.bordered-box, .offers-info-page .bordered-box{
		border:none; 
	}
	.checkbox-inline.sole-btn {
		margin-left: 5px;
		margin-bottom: 5px;
		min-width: 85px;
	}
	.pop-up{
		padding-left:0;
		padding-right:0;
		left: 5vw;
    	width: 90vw;
	}
	.pop-up-short {
		height: 55vh;
	}
	.profile-info h2{
		font-size: 22px;
		margin-bottom: 2px;		
	}
	.profile-info>div>div{
		margin-bottom: 2px;	
	}
	.edit-profile{
		margin:0 0 15px 15px;
		font-size: 16px;	
	}
	.filter-sort.filter-btn{
		line-height: 23px;
		background-position: 99% 70%;
		padding: 0px 24px 0px 5px;
	}
	.offers-info p{
		margin-bottom:0;	
	}
	.offers-info .no-padding-left{
		padding-left:15px;	
	}
	.offers-info-page .border-right{
		border: none;	
	}
	.offers-info-page a.collapse-btn{
		position: absolute;
    	right: 0;
	}
	.info-collapse{
		margin-top:7px;
		padding-top:11px;
		padding-left:0;
		padding-right:0;    
		border-top: 1px solid #f5f5f5;	
	}
	.info-collapse .btn:first-child {
		margin-left: 4px;
	}
	.info-collapse .btn{
		margin-top: 27px;
	}
	.reviews-nav-tabs{
		margin-left: 0;	
		float: left!important;
	}
	.review-box:nth-last-child(1){
		border-bottom: none;	
	}
	.review-box{
		border-bottom: 1px solid #f5f5f5;	
	}
	.review-box:nth-child(4n+3), .review-box:nth-child(4n+4){
		background-color: #fff;
	}
	/* General */
	.no-padding-right-xs{
		padding-right:0!important;	
	}
	.no-padding-xs{
		padding:0!important;	
	}
}