/* -------------------
   Buy - Home page 
   -------------------*/
/* Brand filters */
.brand-filters{
    margin:0;
}
.brand-filters li {
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:12%;
}
.brand-filters li label {
    width: 100%;
    font-size: 18px;
	font-family:TWCenMTBold!important;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
	padding-top:62px !important;
	background-position: 50% -10px !important;
    background-repeat: no-repeat;
    background-size: contain;
	color:#c1c1c1!important;
	opacity:1!important;
}
.brand-filters li label:hover {
	color:#d84a4a!important;
}
.brand-filters li input[type=checkbox].css-checkbox:checked + label.checkbox-label {
	color:#d84a4a!important;
}
.brand-filters li input[type=checkbox].css-checkbox:checked + label.carousel-box-adidas {
	background-image: url(../img/logos/adidas-red.png)!important;
}
.brand-filters li input[type=checkbox].css-checkbox:checked + label.carousel-box-nike {
	background-image: url(../img/logos/nike-red.png)!important;
}
.brand-filters li input[type=checkbox].css-checkbox:checked + label.carousel-box-puma {
	background-image: url(../img/logos/puma-red.png)!important;
}
.brand-filters li input[type=checkbox].css-checkbox:checked + label.carousel-box-nb {
	background-image: url(../img/logos/new-balance-red.png)!important;
}
.brand-filters li input[type=checkbox].css-checkbox:checked + label.carousel-box-reebok {
	background-image: url(../img/logos/reebok-red.png)!important;
}
.brand-filters li input[type=checkbox].css-checkbox:checked + label.carousel-box-jordans {
	background-image: url(../img/logos/jordans-red.png)!important;
}
.brand-filters li input[type=checkbox].css-checkbox:checked + label.carousel-box-yeezy {
	background-image: url(../img/logos/yeezy-red.png)!important;
}
.brand-filters li input[type=checkbox].css-checkbox:checked + label.carousel-box-asics {
	background-image: url(../img/logos/asics-red.png)!important;
}
/* featured */
.product-box{
	padding:5px;
	background-image:none!important;	
	position:relative;
}
.product-box span{
	margin:0;
}
span.featured-title{
	position:absolute;
	top:0;
	left:18%;
	background-color:rgba(0,0,0,0.7);
	color:#fff;
	width:64%;
	font-size:14px;
	z-index:5;
	margin-top:0;
	padding:5px;
}
.product-box .product-options {
    transition: .30s ease-in-out;
    -moz-transition: .30s ease-in-out;
    -webkit-transition: .30s ease-in-out;
    opacity: 0;
	font-size: 12px;
    text-align: center;
	position:absolute;
	bottom:0;
	z-index:10;
}
.product-options a{
    text-transform: uppercase;
    padding: 2px;
    color: #fff;
}
.product-options a:hover{
    color: #fff;
}
.favouritedBtn, .bioBtn {
    border-right: 1px solid #848484;
    background-color: #333;	
	opacity:0.5;
	text-align:center;
	position:relative;
}
.favouritedBtn span.glyphicon {
    /*width:auto;
	position:absolute;
	right:5%;
	top: 4px;*/
}
.favourite, .product-options a.clicked {    
	opacity:1;
}
.quickBuyBtn{
	background-color:#3eb326;
}
.product-box:hover .product-options {
    opacity: 1;
}
input[type=checkbox].css-checkbox + label.favourited-label {
    color: #fff!important;
    padding: 0!important;
}
.owl-carousel-featured .owl-prev{left:0;}
.owl-carousel-featured .owl-next{right:-16px;}
/* filter tabs */
.filter-tabs {
    margin-bottom: 5px;
}
.filter-tabs li {
    color: #fff;
    padding: 1px;
    margin: 0;
	text-align:center;
	background-color: #d8d8d8;
}
.filter-tabs li label{
	font-family:TWCenMTBold!important;
    color: #fff!important;
	text-transform:uppercase;
	opacity:1!important;
	padding:10px 14px!important;
	font-size:16px !important;
	margin:0;
	width:100%;
}
.filter-tabs li input[type=checkbox].css-checkbox:checked + label {
    background-color: #333;
}
.filter-tabs li input[type=checkbox].css-checkbox:checked:hover + label {
	    background-color: #d84a4a;
}
.ad{
	width:auto;
	margin:0 auto;	
}
/* Seller box */
.inner-box{
	position: relative;
	margin-top: 10px;
	overflow:hidden;	
}
.box-overlay-seller{
	background-color:rgba(0,0,0,0.6);
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:9;	
	color:#E9E9E9;
	text-align:center;
	padding:15% 10%;
}
a.box-overlay-seller:hover{
	color:#fff!important;
}
/* Wanted page */
.wanted-label{
	position:absolute;
	top:0;
	right:0;
	padding:4px 15px;
	z-index:9;	
	-webkit-box-shadow: -2px 4px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: -2px 4px 5px 0px rgba(0,0,0,0.4);
	box-shadow: -2px 4px 5px 0px rgba(0,0,0,0.4);
}
/* view more */
ul.view-more-ul li:nth-child(n+9) {
    display:none;
}
ul.view-more-ul li, ul.view-more-reviews-ul li{
    list-style:none!important;
}
ul.view-more-reviews-ul {
    position: relative;
}
ul.view-more-reviews-ul li:nth-child(n+4) {
    display:none;
}
.btn-more-reviews{
	position:absolute;
	top:-25px;	
	left: 144px;
	color:#d8d8d8;
	font-size:14px;
}
/* Profile page */
.main-content-profile{
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 30px;
	padding: 20px 0;
}
.profile-menu{
	padding-left:0;	
}
.profile-menu li{
	display: block;	
}
.profile-menu li a{
	color: #848484;
	width: 100%;
	padding:7px 15px;
	font-size:17px;
	background-color:#f8f8f8;
}
.profile-menu li.active a{
	color: #d84a4a;
	background-color:#e0e0e0;
}
#profile-username{
	font-size:26px;	
}
#profile-name{
    margin-top: 15px;
    float: left;
    width: 100%;
	font-size:16px;
}
.profile-info{
	font-size:16px;
	padding:6px 0;	
	font-family: TWCenMTBold;
}
.bio-title{
	margin:20px 0 10px;	
}
.main-content-profile-items .nav{
	float: none;
	margin:0 auto;	
}
.profile-img-circle-holder{
	position:relative;	
	height:180px;
}
.profile-img-circle{
	width:180px;
	height:180px;
	border-radius:50%;
	position:absolute;
	top:0;
	left:calc(50% - 90px);
	overflow:hidden;
    background-color: #e7e7e7;
	padding:0;
}
.profile-img-circle.add-images li{
	background-color:transparent;
	width:180px;
	height:180px;	
	float: left;
    font-size: 18px;
    padding-top: 43%;
    color: #333;
	margin:0;
}
.profile-img-circle.add-images:hover li{
    color: #fff;
}
.profile-img-circle-a:hover, .profile-img-circle:hover a, .profile-img-circle.add-images li:hover{
	background-color: rgba(0, 0, 0, 0.39);
    color: #fff;
}
.profile-img-circle.add-images li .dz-preview{
	margin:0;
	width:100%;	
}
.review-transaction{
	padding:5px 0;
	text-align:center;	
	margin-top:25%;
}
.transaction-rating-stars{
	width:65px;
    font-family: 'Glyphicons Halflings';
	font-size:14px;
	position:relative;
	float:left;
	padding:0;
}
.transaction-rating-stars .glyphicon{
	width:13px;
	float:left;
	color:#d8d8d8;
}
.transaction-rating-stars-active{
	position:absolute;
	top:0;
	overflow:hidden;
	padding:0;
	height:14px;
}
.transaction-rating-stars-active .glyphicon{
	color:#333333;
	position:absolute;
	top:0;
}
li.half:after {
    content:'';
    position:absolute;
    z-index:1;
    background:white;
    width: 50%;
    height: 100%;
    left: 47%;
}
.reviews-info span{
	margin-top:10px;	
}
.reviews-rating .star-rating{
	margin-top:4px;	
}
input[type="radio"].toggle_radio:checked + label {
  background-image: linear-gradient(to top,#333,#333);
  cursor: default;
  border-color: transparent;
}
input[type="radio"].toggle_radio + label {
  background-image: linear-gradient(to top,#d8d8d8,#d8d8d8);
  color: #fff;
  text-align:center;
  padding:10px 30px;
  width:auto;
}
input[type="radio"].toggle_radio:checked + label.btn:hover {
  background-color: inherit;
  background-position: 0 0;
  transition: none;
}
/* Upload Page */
.add-images li{
	width:48%;
	margin:1%;
	background-color:#f9f9f9;
	float:left;
	text-align:center;
	padding:20%;
	cursor:pointer;
	position:relative;
}
input[type="radio"].toggle_radio_visibility + label, input[type="radio"].toggle_radio_list_product + label {
  width: 50%;
}
input[type="radio"].toggle_radio_visibility + label{
  background-image: linear-gradient(to top,#333,#333);
  color:#848484;
  font-weight:normal;
  position:relative;
}
input[type="radio"]#toggle-visibility-on + label:after{
	background:#848484;
	width:1px;
	content:"";
	position: absolute;
	top:5px;
	bottom:5px;
	right:0;
}
input[type="radio"].toggle_radio_visibility:checked + label{
  color:#fff;
}
input[type="radio"].toggle_radio_list_product + label{
	font-weight:normal;	
	background-image:linear-gradient(to top,#e3afb1,#e3afb1);
	text-transform:uppercase;
}
input[type="radio"]#toggle-list-product-on + label{
	border-right:1px solid #fff;
}
input[type="radio"].toggle_radio_list_product:checked + label{
	background-image:linear-gradient(to top,#d84a4a,#d84a4a);
}
.plus_select{	
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;	
}
input[type="radio"].toggle_radio_price_plan + label{
  background-image: linear-gradient(to top,#fff,#fff);
  color:#e3afb1;
  font-weight:normal;
  position:relative;
  width:100%;
  text-align:center;
}
input[type="radio"].toggle_radio_price_plan:checked + label{
  background-image: linear-gradient(to top,#fff,#fff);
  color:#d84a4a;
}
/* Favourites page */
.favPage_favouritedBtn{
	background-color: #d84a4a;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
	height:23px;
	width:28px;
}
.favPage_favouritedBtn span.glyphicon {
    width:auto;
	position:absolute;
	right:22%;
	top: 5px;
	color:#fff;
}
/* Product page */
.titleReg16>.star-rating{
	margin:0;
	float:right;
	width:70%;
	text-align:left;
	line-height:7px;
}
.product-seller-box{
	margin-top:15px;
	padding-top:15px;	
	border-top:1px solid #cfcfcf;
	padding-left:0;
	padding-right:0;
}
.more-selling-items{
	margin-top:-15px;
	padding-top:15px;
	border-left:1px solid #cfcfcf;
	padding-right:0;
}
.more-selling-items ul {
	padding-left:0;
	padding-top:17px;
}
.more-selling-items ul li{
	display:inline-block;
	width:48%;
	height:56px;
	position:relative;
	padding:2px 0;
	overflow:hidden;
}
.more-selling-items ul li a img{
	position:absolute;
	top:0;
	min-height:56px;
	width:auto;
	transition: all .2s ease-in-out;
}
.more-selling-items ul li a:hover img{
	transform: scale(1.1);
}
.favouritedBtn_ChangeText .glyphicon{
	padding-left:2px;	
	float: none;
    width: auto;
}
/* FAQ */
.panel-default>.panel-heading+.panel-collapse>.panel-body{
	background-color:#f8f8f8;
}
/* Seller profile page */
.seller-profile-info div {
    color: #848484;
    width: 100%;
    padding: 4px 15px 4px;
    font-size: 16px;
    background-color: #f8f8f8;
	float:left;
	font-family:TWCenMT;
}
.seller-profile-info div.grey-bg {
    color: #333;
	background: #d8d8d8;
    font-size: 18px;
	font-weight:600;
	padding-top:7px;
	padding-bottom:7px;
}
/* pop up */
.box-overlay{
	background-color:rgba(0,0,0,0.6);
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:9999;	
	color:#E9E9E9;
	text-align:center;
	padding:15% 10%;
}
a.box-overlay:hover{
	color:#fff!important;
}
.pop-up{
	background-color:#fff;
	padding:15px 15px 30px;	
	position:fixed;
	top:8vh;
	max-height:80vh;
	left:20vw;
	width:60vw;
	min-height:100px;
	min-width:300px;
	/*max-width:1000px;*/
	z-index:99999;
}
.pop-up .main-content-profile-items{
	height:60vh;
	overflow:auto;
}
.pop-up ul li{
	padding-bottom:40px;	
}
/* General */
.small{font-size:11px;}