/*Theme Name: SoleMarketPlace - by Dreamr

Author: Dreamr

*/


/* Fonts */
@font-face {
	font-family: Regular;
	src: url('../font/URWGeometric.ttf') format('truetype');
	src: url('../font/URWGeometric-Regular.otf') format('opentype');
}
@font-face {
	font-family: Bold;
	src: url('../font/URWGeometricBold.ttf') format('truetype');
	src: url('../font/URWGeometric-Bold.otf') format('opentype');
}
@font-face {
	font-family: SemiBold;
	src: url('../font/URWGeometric-SemiBold.otf') format('opentype');
}
@font-face {
	font-family: Light;
	src: url('../font/URWGeometric-Light.otf') format('opentype');
}
@font-face {
	font-family: Medium;
	src: url('../font/URWGeometric-Medium.otf') format('opentype');
}
.x-large{
	font-size:x-large!important;
}
.xxlarge{
	font-size:xx-large!important;
}
/* Theme */

body {
	background: #ffffff;
	background-repeat: no-repeat;
	background-position: center 0;
	font-family: Regular;
	font-size: 1.4em;
	color: #333;
	line-height:1em;
}
body.mac {
	line-height: 1.2em;
}
.container {
	max-width: 1200px;
	width: 80vw;
	padding:0;
}
.site-main{
	min-height: 90vh;
	padding-top: 4vh;
	padding-bottom:3vh;
}
p{
	font-family: Light;
}
/* Headings */
.h1, .h2, .h3, h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h4, .h4 {
	font-weight: inherit;
	font-size: 1.6em;
	line-height:1.6em;
	color: #222;
}
body h6 {
	font-size:1.1em;
	font-family: SemiBold;
}
h5, .h5 {
	font-size: 30px;
}
/* Lists */

ul {
	margin: 0;
}
ul li {
	list-style: none;
}
a {
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
	color:#BFBFBF;
}
a:hover {
	color: #333;
}
a:hover, a:visited, a:focus {
	text-decoration: none!important;
}
.light-heading {
	font-weight: normal;
	font-family: 'Light', sans-serif;
}
/* Popups */
.box-overlay {
	background-color: rgba(247, 247, 247, 0.85);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}
.box-overlay-dark {
	background-color: rgba(12, 12, 12, 0.85);
}
.pop-up {
	position: fixed;
	height: 75vh;
	left: 25vw;
	width: 49vw;
	min-width: 300px;
	z-index: 99999;
	top: 6vh;
	overflow:auto;
	padding:15px 40px 40px;
}
.pop-up-full-width{
	left: 2vw;
	width: 96vw;
}
.pop-up-full-width>div{
	max-width: 50vw;
	margin: 5% auto;
	float: inherit;
}

.pop-up-short{
	height:auto;
	top: 19vh;
}
.close {
	opacity: 1;
	text-shadow: none;
	top: 2%;
	right: 2%;
	position:absolute;
	padding:0.3em;
	color: #666;
	z-index: 9;
	background-color:#fff;
	padding-left:30px;
	background-image:url(../images/search_close.png);
	background-position:10px 30%;
	background-repeat:no-repeat;
	background-size:50%;
	min-height:40px;
}
.close:hover {
	opacity: 1;
}
a#login-link {
	cursor: pointer;
}
.fb-register{
	background-position: 26% 46%;
	background-repeat:no-repeat;
	background-size:auto;
	line-height:1.2em;
}
#search {
	height: 46vh;
	top: 15vh;
}
#search .inner-hide-scroll {
	min-height: 0;
}
#register_btn {
	line-height: 25px;
}
/*Search pop up*/
.middle-border-title{
	padding-top: 10px;
	border-bottom:1px solid #dadada;
}
.middle-border-title span{
	background-color:#fff;
	position:absolute;
	top: 0;
	left: 28%;
	width:44%;
	text-align:center;
	text-transform:uppercase;
	font-size:large;
	animation:ease;
}
.search-form-control{
	border:none;
	background:none!important;
	text-align:center;
	min-height:	90px!important;
	font-size: 4em!important;
	color:#333!important;
}
.search-form-control::-webkit-input-placeholder {
	color: #bfbfbf;
}
.search-form-control:-moz-placeholder { /* Firefox 18- */
	color: #bfbfbf;
}
.search-form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #bfbfbf;
}
.search-form-control:-ms-input-placeholder {
	color: #bfbfbf;
}
input[type=text]#input_search:focus{
	box-shadow:none!important;
	border:none!important;
}
#results_no{
	padding-top: 30px;
	font-size: 1.2em;
}
.xxl-font{
	font-size: 5em!important;
}
div.search-results{
	width:20%;
	margin-bottom: 1em;
	padding:0 5px;
}
div.search-results>a{
	height:15vh;
	overflow:hidden;
	position:relative;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}
div.search-results>a>img{
	background-color: #f7f7f7;
	padding: 0;
}
div.search-results>a.dark-grey{
	padding: 10px 0 3px!important;
	height: 10%;
	overflow: initial;
	font-size:14px;
}
.search-results span{
	float: left;
}
.inner-hide-scroll{
	min-height: calc(100vh - 320px)
}
#news div.search-results>a{
	margin-bottom: 10px;
}
#view_more_results{
	position: fixed;
	bottom: 25px;
	min-width: 154px;
	left: calc(50% - 77px);
	font-size: medium;
	z-index: 9999;
}
.searchform .field {
	width: 100%;
	margin: 55px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 30px;
	border-radius: 0px;
	padding: 7px 10px 8px;
	border:none;
}
.searchform .field:focus {
	border:none;
	box-shadow:none;
}
/* Nav Tabs  */
.nav-tabs {
	border-bottom: none;
	padding: 0;
}
.nav-tabs li {
	padding-left:15px;
}
.nav-tabs li:nth-last-child(1) {
	padding-left:0px;
}
.nav-tabs li a{
	color: #999999;
	border: none;
	border-bottom: 1px solid transparent;
	font-size: 20px;
	font-family:Light;
	padding-left:0;
	padding-right:0;
}
.nav-tabs li a:hover{
	color:#333;
	background-color:transparent;
	border: none;
	border-bottom: 1px solid transparent;
}
.nav-tabs li a.active, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	color: #333;
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #333;
}
.nav-tabs li:after{
	content:"";
	width: 1px;
	height: 25px;
	border-left: 1px solid #f5f5f5;
	margin-top: 7px;
	float: left;
	margin-left: 15px;
}
.nav-tabs li:nth-child(1):after, .users-profile-nav-tabs li:nth-child(2):after{
	border-left: none;
	margin-left: 0px;
}
.transactions-nav-tabs {
	margin-bottom: 1rem;
}
.transactions-nav-tabs li:first-child {
	padding-left: 0;
	padding-right: 15px;
}
.transactions-nav-tabs li:first-child:after {
	border-right: 1px solid #f5f5f5;
	margin-left: 15px;
}
.transactions-nav-tabs li:last-child:after {
	border: none;
}
.users-profile-nav-tabs{
	margin-left:calc( 50% - 70px);
}
.upload-shoe-nav-tabs{
	margin-left:calc( 50% - 135px);
}
.users-profile-nav-tabs li:nth-child(1):after {
	border-left: 1px solid #f5f5f5;
	margin-left: 15px;
}
.users-profile-nav-tabs li:last-child {
	padding-left: 15px;
}
/* Navigation */
.collapse.navbar-collapse{
	padding: 0;
}
.logo img {
	transition: 0.2s;
	max-width:62px;
}

.navbar{
	border: none;
	margin:0;
}
.navbar li a{
	padding-top:0;
}
.navbar-default {
	background-color: transparent;
	border: none;
}
.navbar-brand{
	padding:0;
}
.navbar-default .navbar-nav > li > a{
	color:#bfbfbf;
	padding-bottom: 19px;
	font-size: 17px;
	cursor:pointer;
}
.navbar-default .navbar-nav > li > a.btn{
	font-size: 15px;
	margin-top:-4px;
}
.home #header{
	background-color:#fff;
}
#header {
	position: relative;
	z-index: 20;
	transition: 0.2s;
	background-color:#f7f7f7;
	max-height: 74px;
}
#header .logo {
	float: left;
	max-width: 100%;
	margin-top:13px;
	margin-right: 20px;
	margin-left:0;
}
#header .logo a {
	width:68px;
	height: 47px;
	background-image:url(../images/logo_hover.png);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:cover;
	float:left;
	opacity:0.81;
}
#header .logo a:hover {
	opacity:1;
}
.user_box{
	line-height:11px;
	padding-bottom:15px;
	border-bottom:2px solid transparent;
	margin-left:20px;
}
.user_box.active{
	border-bottom:2px solid #333;
}
.user_box>a{
	color:#333!important;
	padding-left:0!important;
	font-family: Light;
	text-transform:capitalize;
	font-size: 17px;
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center right;
}
.user_box>a span{
	line-height: 19px;
}
.user_box.active{
	color:#333!important;
	border-color:#333!important;
}
.user_box img{
	border: 2px solid #333;
	width: 25px;
	height: 25px;
	margin-top:-5px;
	margin-left:5px;
}
.mac .user_box img{
	margin-top:-8px;
}
.user_box .popover-content{
	padding:0!important;
}
.user_box .popover-content ul {
	width: 100%;
	float: left;
	padding: 0 10px;
	min-width: 145px;
}
.user_box .popover-content ul li {
	width: 100%;
	float: left;
	padding:5px 0;
}
.user_box .popover-content ul li a{
	font-size: 13px;
	font-family:Light;
	text-align:left;
	text-transform:capitalize;
	color:#bfbfbf;
	width:100%;
	padding:5px 0;
	float:left;
}
.user_box .popover-content ul li a:hover{
	background:transparent;
	color:#333;
}
.current-menu-item a{
	border-bottom: 2px solid #333;
}
.popover.bottom .arrow:after{
	top: 2px;
}
.main-nav .navbar_inner {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.main-nav .navbar_inner:after {
	clear: both;
	content: "";
	width: 100%;
	display: block;
}
.submenu{
	display: none;
	position: absolute;
	background: #fff;
	top: 60px;
	text-align: center;
	padding: 10px 11px;
	margin-left: -10px;
}
.user_box:hover .submenu {
	display: block;
}
.sole-login {
	margin-top:26px;
	margin-bottom: 6px;
	padding:0;
	margin-right:1px;
	float:right;
}
.search-top {
	padding-left: 25px!important;
	background: url(../images/search.png) no-repeat;
	background-size: 16px;
	cursor:pointer;
	font-family: Light;
	font-size: 17px;
	background-position: 0 3px;
}
.search-top:hover {
	text-decoration: none;
	color: #333!important;
	background-image: url(../images/search_active.png);
}
.btn#register-link{
	margin-left: 10px !important;
}
.popover.bottom{
	border: 1px solid rgba(232,232,232,0.7);
}
.popover.bottom>.arrow{
	border-bottom-color:rgba(232,232,232,0.7);
}
ul.popover-ul {
	padding: 0;
	margin: 0;
}
.search h1.page-title {
	font-size: 1.1em;
	line-height: 1.4em;
	padding: 0;
	margin: 20px auto;
	font-family: Regular;
	font-weight: normal;
}
.popover-content ul{
	padding-left:0;
}
.big-popover .popover {
	max-width:none;
	width: 374px;
}
.big-popover .popover .popover-content div.border-bottom{
	margin-top: 1em;
}
/* Top search */
#top-search {
	padding: 0;
	position: relative;
	margin: 5px 0 0 0;
}
#top-search .input-search {
	vertical-align: top;
	margin: 0;
	padding: 6px 35px 6px 15px;
	height: 33px;
	background: #ffffff;
	border-radius: 16px;
	width: 311px;
	border: 1px solid #ccc;
}
#top-search #submit {
	vertical-align: top;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../images/top-search-submit.png) no-repeat 0 0;
	border: none;
	padding: 0;
	width: 35px;
	height: 33px;
	box-shadow: none;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}
#top-search #submit:hover {
	background-position: 0 -33px;
}

/* Navigation select styling */

.select-menu {
	background-color: #262626;
	width: 100%;
	height: 30px;
	padding: 5px;
	cursor: pointer;
	display: none !important;
	color: #ffffff;
	border: none;
	border: 1px solid #262626;
	margin: 5px 0;
}

.select_wrapper {
	line-height: 34px;
	border-radius:3px;
	cursor:pointer;
	position: relative;
	color:#bfbfbf;
	background-image:url(../images/arrow_down.png);
	background-position:center right;
	background-repeat:no-repeat;
	background-size: 11px;
}
.select_wrapper span {
	display: block;
	margin: 0 18px 0 0px;
	font-family: Light;
	font-size:18px;
}
.select_wrapper .menu_arrow {
	top: 15px;
	left: 82%;
	border-top-width: 0;
	position: absolute;
	background-image: url(../images/menuarrow.png);
	width: 25px;
	height: 25px;
	background-position: top center;
	background-size: contain;
	z-index: 999;
}
.select_inner {
	background-color: #fff;
	border: 1px solid rgba(232,232,232,0.7);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	color:#687278;
	display: none;
	position: absolute;
	left:0;
	padding:0;
	width: 168%;
	z-index: 3;
	margin-top:6px;
}
.select_inner li {
	padding: 0 15px;
	text-align:left;
}
.select_inner li:first-child{
	display: none;
}
/* Footer */
.footer-wrap-border {
	background-color: #f7f7f7;
}
.footer-content.border-bottom {
	padding: 14px 0px;
}
.footer-navbar {
	margin: 0 auto;
	margin-bottom: 0!important;
	padding-bottom: 0!important;
	min-height: 40px!important;
	padding: 0;
}
.footer-navbar li {
	padding-bottom: 0!important;
	font-size: 16px;
	padding: 0;
}
.footer-navbar li:nth-last-child(3) {
	margin-right: 10px;
}
.footer-navbar li a {
	font-family: Regular;
	color: #bfbfbf;
	font-size: 16px;
	padding-top: 15px;
}
.footer-navbar li a.sole-btn {
	margin-top:13px;
	line-height: 19px;
	font-size: 15px;
}
#register-link-footer{
	line-height: 17px;
}
#search-link-footer{
	background-position: 0 50%;
}
figure.featured-thumbnail.thumbnail.product-box {
	/*background-color: #F7F7F7;*/
	min-height:16vh;
}
.footer-wrap .featured-thumbnail {
	max-height: 144px;
	min-height: 15vh;
	margin: 10px 0;
}
.cat-item{
	line-height: 2em;
	color:#333;
}
.bottom-info{
	line-height:24px;
}
/* Product */
.product-box{
	position: relative;
	height: auto;
	overflow: hidden;
	background-color: #F7F7F7;
	min-height:17vh;
	margin-bottom:5px;
}
.pricebar h2 {
	margin: 5px 0px;
	font-size: 18px;
	line-height: 1.2em;
}
.prod_title_holder{
	color: #333;
	float:left;
	width:100%;
	font-size: 1.6rem;
}
.prod_title {
	width: 70%;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mac .prod_title {
	padding-top:2px;
}
.prod_size {
	font-size: 1.2rem;
	margin-top: 0.25rem;
	padding-bottom: 1rem;
}
.prod-info .pricebar h2 a:nth-last-child(1) {
	/*font-size: 14px;
	line-height: 14px;*/
}
.featured-thumbnail {
	overflow: hidden;
	position: relative;
	border: none;
	border-radius: 0;
}
.featured-thumbnail img {
	max-width: 100%;
	width: 100%;
	height: auto;
}
.featured-thumbnail > img, .featured-thumbnail a > img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.box_overlay_dark {
	background: rgba(0, 0, 0, 0.6)!important;
}
.box_overlay, .box_overlay_delete, .box_overlay_mark_sold, .box_overlay_edit {
	transition: .30s ease-in-out;
	-moz-transition: .30s ease-in-out;
	-webkit-transition: .30s ease-in-out;
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6)!important;
}
.mac .overlay-buttons-holder a {
	margin-top: 10px;
}
.box_overlay_sold
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6)!important;
}
.box_overlay_delete, .box_overlay_mark_sold, .box_overlay_edit {
	opacity: 1;
}
.btn_holder_middle {
	position: absolute;
	top: calc(50% - 28px);
}
.btn_holder_middle .btn {
	font-family: Light;
	float: none;
	margin: 0;
}
.product-box:hover .box_overlay {
	opacity: 1;
}
/* Notifications Page */
.notifications{
	border:1px solid #f5f5f5;
	max-height: 80vh;
	overflow-y: auto;
}
.notifications-empty {
	display: none;
}
.notifications-loading-container {
	padding: 4rem;
	clear: both;
	display: none;
}
.notifications-loading {
	width: 5rem;
	height: 5rem;
	clear: both;
	background: url(../images/loader.svg) no-repeat center;
	background-size: contain;
	margin: auto;
	box-sizing: border-box;
}

.notification-container{
	position:relative;
}
.notification-container:hover{
	background: #f5f5f5;
}
.notification-container > div{
	padding:15px 0;
}
.notification-image {
	width: 55px;
	height: 40px;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}
.notification-profile-image {
	width: 55px;
	height: 55px;
	border-radius: 50%;
}
.notification-icon{
	margin:3px 5px 0 0;
}
.delete-notification{
	position:absolute;
	top:0px;
	right:7px;
	display:none;
	cursor:pointer;
}
.notification-container:hover .delete-notification{
	display:inline-block;
}
/* Profile Page */
.location-icon{
	margin: 1px 5px 0 0;
}
.profile-img{
	border: 1px solid #333;
	width: 100%;
	max-width: 90px;
	margin: 0 auto;
}
.tab-pane article{
	min-height:25vh;
}
.tab-pane article:nth-child(4n+4){
	padding-right: 0;
}
.tab-pane article:nth-child(4n+1){
	padding-right: 0;
}
.profile-product .box_overlay{
	background:transparent!important;
}
.overlay-buttons-holder{
	position:absolute;
	top: 78%;
	bottom: 0;
	z-index:99;
	background: rgba(0, 0, 0, 0.8)!important;
}
.overlay-buttons-holder a img {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 22px;
}
.overlay-buttons-holder a {
	cursor:pointer;
	height: 100%;
}
.tab-content {
	margin-top: 1em;
}
.wanted-badge, .sold-badge {
	position:absolute;
	left: 5px;
	top: 80%;
	pointer-events: none;
}
.app-banner-container{
	background:#f5f5f5;
	z-index:9999;
	position:fixed;
	bottom:0;
	left: 0;
	right:0;
	padding-top:6vh;
}
.app-banner-container .close{
	background-color:#f5f5f5;
}
.ads_form input[type=email] {
	padding: 6px;
	font-size: medium;
	background-color: #e2e2e2;
	height: 34px;
}
.ads_form .btn {
	color: #fff;
	font-size: medium;
	background-color: #b8b8b8;
	padding: 0 25%;
}
/* Reviews Page */

.review-group:nth-child(2n) {
	background:#f5f5f5;
}
.review-box{
	padding-top:25px;
	padding-bottom:25px;
}
.review-box:nth-child(4n+3), .review-box:nth-child(4n+4){
	background:#f5f5f5;
}
.review-box:nth-child(2n+1)>div{
	border-right: 1px solid #d5d5d5;
}
/* Transactions page */
.transactions-box{
	padding: 10px 0;
}
.transactions-top-row {
	height: 5em;
}
.view_reviews {
	margin-left: 1rem;
}
.edit-profile-bio {
	width: 100%;
	box-sizing: border-box;
	padding: 1rem;
	line-height: 1.6rem;
}
/* Offers Page */
.offer{
	padding:10px 0;
	float: left;
	width: 100%;
}
.offer:nth-child(2n+1){
	background:#f5f5f5;
}
.mini-img{
	max-width:20px;
	float: left;
}
/* User's Profile Page */
.more-popover {
	width: 135px;
}
.more-popover li a {
	padding:4px 0;
	float:left;
	width:100%;
}
/* No Results Page */
.no_results {
	padding-top: 18%;
	padding-bottom: 18%;
}
.no_results img{
	margin: 0 auto;
}
.no_results .btn{
	max-width:280px;
	width: 100%;
}
/* Search results page */
.breadcrumbs {
	padding:0;
}
.search-user-box{
	width: 20%;
	padding: 15px;
	float:left;
}
.pagination_ul{
	padding: 10px 0;
}
.pagination_ul li {
	display: inline-block !important;
	vertical-align: top;
	list-style: none;
	background: none;
	padding-left: 0 !important;
	padding-right: 0 !important;
	font-size: 18px;
	color: #bfbfbf;
	border-right: 0 !important;
}
.pagination_ul li:first-child {
	border-right: 1px solid #dfdfdf;
	padding-left: 0;
}
.pagination_ul li a {
	color: #bfbfbf;
	text-decoration: none;
	font-size: 18px;
	border-bottom: 1px solid transparent;
	font-family: Light;
	padding-right:3px;
}
.pagination_ul li:nth-last-child(1):after {
	content: "";
	background: #dfdfdf;
	height: 24px;
	width: 1px;
	margin-left: 20px;
	float: right;
	margin-top: -4px;
}
.filter-sort.filter-btn {
	padding: 4px 24px 0 5px;
	color: #bfbfbf;
	text-transform: capitalize;
	font-family: Light;
	margin-left: 5px;
	margin-right: 30px;
	text-align: right;
	font-size: medium;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	background-image: url(../images/arrow_down.png);
	background-color: #fff;
	background-position: 99% 93%;
	background-repeat: no-repeat;
	background-size: 12px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	font-size:18px;
}
.filter-sort.filter-btn:hover, #release_months:hover {
	color: #333;
}
.filter-option {
	border: 1px solid #e4e3e3;
	margin-bottom: 12px;
}
.filter-option h4 {
	font-family: Light;
	font-size: 18px;
	margin-bottom: 5px;
	cursor: pointer;
	background-image: url(../images/filter_open.png);
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: 0 50%;
	padding-left: 20px;
	border-bottom: 1px solid #e4e3e3;
}
.filter-option h4.filter_collapsed{
	background-image: url(../images/filter_collapse.png);
	background-size: 7px;
	border-bottom:none;
}
.filter-option ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	padding-top: 5px;
	max-height: 140px;
	overflow-y: auto;
	margin:10px 0;
}
.filter-option li label, .filter-option li a {
	vertical-align: middle;
	padding-left: 20px;
	line-height: 25px;
	cursor: pointer;
	font-weight: normal;
	background: url(../images/tickbox_inactive.png) no-repeat 0 6px;
	font-size: 14px;
	border: 0;
	color: #222;
	background-size: 15px;
	float: left;
	width: 100%;
	margin-bottom: 0;
	background-size: 13px;
}
.filter:checked+label, .filter-option li a.active {
	font-weight: bold;
	text-decoration: none;
	background-image: url(../images/tickbox_active.png);
}
input.filter {
	display: none;
}
select:focus {
	outline: 0;
}
#shoes>div:first-child{
	margin-top:-47px;
}
.featured-thumbnail {
	margin: 0;
	min-height: 16vh;
	overflow: hidden;
	position: relative;
	background-color:#fff;
}
.rating-container {
	margin-top: -2px;
}
#conditiondiv .rating-xs{
	font-size: 1.6em;
	padding: 10px 0 10px 20px;
}
.products {
	margin-bottom: 10px;
}
/* Upload Shoe Page */
.shoe_img {
	width: 100%;
	height: 20vh;
	background-color: #f9f9f9;
}
.shoe_img_holder{
	width: calc(25% - 5px);
	background-color: #f9f9f9;
	margin-right:6px;
	margin-top:10px;
	height:10vh;
	overflow:hidden;
	float: left;
}
.shoe_img_holder:nth-last-child(1){
	margin-right:0px;
}
/* Product page */
.price-tag, .size-tag {
	float: left;
	margin-right: 10px;
	pointer-events: none;
}
.sticker_wrap {
	position: absolute;
	top: 45vh;
	width: 100%;
	padding: 0 3%;
}
.product-info{
	font-size: 16px;
}
.product-info>div{
	margin:3px 0;
	line-height:16px;
	width: 100%;
	float:left;
}
.product-info div.rating{
	margin:0;
}
.product-description{
	margin:20px 0;
	border-top: 1px solid #f5f5f5;
	padding-top: 20px !important;
}
.small-box{
	margin-right: 8px;
}
.small-box img{
	margin-right: 4px;
	margin-top: -4px;
}
.favourite-box{
	cursor:pointer;
}
.favourite-box:hover{
	color:#BFBFBF!important;
}
.red.favourite-box:hover {
	color: #d84a4a!important;
}
.comments-form .form-group:first-child label{
	width: 12%;
	float:left;
}
.comments-form .form-group:first-child label img{
	margin-top: 5px;
}
.comments-form .form-group:first-child .form-control{
	width: 88%;
	float:left;
}
.comments-area-holder{
	overflow:hidden;
	float:left;
}
.comments-area{
	max-height:20vh;
	overflow:auto;
	margin: 10px 0;
	width:calc(100% + 18px);
}
.comments-area div{
	margin-bottom: 7px;
}
h2.product-title{
	padding: 1px 0 5px 0;
	font-size: 20px;
	line-height: 30px;
	text-transform: none;
	margin-bottom:0;
}
.favourite-box, .comment-box{
	margin-top:10px;
	margin-bottom:10px;
	margin-right: 15px;
	float: left;
}
/* Support page */
.panel-title a{
	background-image:url(../images/arrow_right.png);
	background-repeat: no-repeat;
	background-position:right center;
	width: 100%;
	display:block;
}
.panel-body {
	background-color:#F5F5F5;
}
/* Slider */
.lightSlider_holder {
	width:100%;
	overflow:hidden;
	min-height: 45vh;
	position:relative;
}
div.controls {
	margin-top: 0!important;
	height: auto!important;
}
div.slideshow img {
	width: 100%;
	float: left;
	/*margin-top: -10px;*/
}
.nav-controls a {
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

#gallery:hover .nav-controls a {
	opacity: 1;
}
/* Breadcrumbs */
.breadcrumbs li {
	font-size: 0.9em!important;
}
.breadcrumbs li, .no_border_ul li {
	border: none!important;
	padding: 10px 0 0 0!important;
	line-height: 23px!important;
	float: left;
}
.breadcrumbs li::after {
	content: "";
	background-image: url(../images/arrow_right.png);
	background-repeat: no-repeat;
	background-size: 6px;
	margin-top: 6px;
	float: right;
	margin-left: 5px;
	height: 17px;
	width: 10px;
}
.breadcrumbs li:nth-last-child(1)::after {
	background-image: none;
}
/* Pagination */
.pagination{
	width:100%;
}
.pagination li {
	display: inline-block;
	padding: 0;
	margin-right: 3px;
	float: left;
	line-height:29px;
}
.pagination>li:first-child, .pagination>li>a, .pagination>li>span {
	background-color: #f6f6f6;
	color: #b8b8b8;
	padding: 4px 12px 3px;
	font-size: medium;
	border:none;
	border-radius:0;
}
.pagination>li:first-child{
	padding: 0 12px;
}
.pagination>li.active>a, .pagination>li>a:hover {
	background-color: #2e2e2e;
	color: #fff;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
/* Forms */
input[type=tel], input[type=text], input[type=email], input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="select"], textarea, input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill, .form-control {
	color: #333;
	border: 1px solid transparent;
	border-radius: 1px;
	background-color: #f9f9f9;
	box-shadow: none;
	font-size: 1.2em;
	-webkit-appearance:none;
}
.select-control{
	background-image:url(../images/arrow_down.png);
	background-repeat:no-repeat;
	background-position: 95% 50%;
	background-size: 11px;
}
textarea:focus, input[type='text']:focus, input[type='password']:focus, input[type='datetime']:focus, input[type='datetime-local']:focus, input[type='date']:focus, input[type='month']:focus, input[type='time']:focus, input[type='week']:focus, input[type='number']:focus, input[type='email']:focus, input[type='url']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='color']:focus, .uneditable-input:focus, input[type=tel]:focus, .form-control:focus, input[type="select"]:focus {
	border-color: #bfbfbf;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px #bfbfbf;
}
.form-control::-webkit-input-placeholder {
	color: #bfbfbf;
}
.form-control:-moz-placeholder { /* Firefox 18- */
	color: #bfbfbf;
}
.form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #bfbfbf;
}
.form-control:-ms-input-placeholder {
	color: #bfbfbf;
}
input[type='button']{
	line-height:25px;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
	display: none;
}
.checkbox-inline.sole-btn{
	margin-left: 10px;
	margin-bottom: 10px;
	min-width: 95px;
}
.input-symbol{
	position:relative;
}
.input-symbol span{
	position: absolute;
	transform: translate(0,-50%);
	bottom: 3px;
	pointer-events: none;
	margin-left: 0.6em;
	left: 0;
	font-size: 18px;
}
.mac .input-symbol span{
	/* Turned off by Ed because affecting Linux */
	/* Reenabled with a different value by Tom */
	bottom: 0px;
}
.input-symbol input{
	padding-left: 1.4em;
}
.profile_img
{
	background-color: rgba(0, 0, 0, 0.6);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 2rem auto;
}
/* DropZone */
#profile_img_upload{
	background:#f5f5f5;
	width:80px;
	height:80px;
	border-radius:50%;
	margin-left: calc(50% - 40px);
	margin-bottom: 15px;
	background-size: cover;
	cursor: pointer;
	position: relative;
}
#profile_img_icon {
	color: #bdbdbd;
	font-size: 2em;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.6);
	background-image:url(../images/camera.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-position: center;
	background-size: 30px;
}
.background_img_icon_loading {
	background-image: url(../images/loader.svg) !important;
}
#profile_img_hidden, #profile_img_form {
	display: none;
}
/* Scrollbars */
.site-main ::-webkit-scrollbar {
	width: 8px;
}

.site-main ::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background: #F7F7F7;
}

.site-main ::-webkit-scrollbar-thumb {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
	background:#bfbfbf;
}

/* Buttons */
.btn-default {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.btn-default:hover {
	color: #333!important;
	background-color: #DEDEDE;
	border-color: #ccc;
}
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	line-height: 16px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 2px;
	text-shadow:none!important;
	font-size: 1.1em;
	background-color: transparent;
	font-family: Light;
}
.sole-btn {
	border: none;
	font-size: 1em;
	font-family: Light;
	padding: 3px 10px 5px!important;
}
.input-btn{
	padding: 8px 10px!important;
}
.green-btn {
	background-color: #27c53a!important;
	color: #fff!important;
}
.green-btn:hover {
	background-color: #21a931!important;
	color: #fff!important;
}
.transparent-btn, .transparent-btn:hover{
	background-color: transparent;
	color: #333;
}
.transparent-btn.white:hover{
	color: #ccc;
}
.bordered-btn {
	border: 1px solid #333;
	color: #333!important;
	border-radius: 2px;
	font-size: 1em;
	cursor:pointer;
	padding:2px 10px 4px!important;
}
.bordered-btn:hover {
	border-color: #333;
	color: #333!important;
	text-decoration: none
}
.bordered-grey-btn {
	border: 1px solid #bfbfbf;
	color: #bfbfbf!important;
	border-radius: 2px;
	font-size: 1em;
	min-width:85px;
	text-align:center;
	cursor:pointer;
}
.bordered-grey-btn:hover {
	border-color: #333;
	color: #333!important;
	background:none;
	text-decoration: none
}
.bordered-white-btn {
	border: 1px solid #FFF;
	color: #FFF !important;
	border-radius: 2px;
	font-size: 1em;
	min-width:85px;
	text-align:center;
	cursor:pointer;
}
.bordered-white-btn:hover {
	border-color: #d1d1d1;
	color: #d1d1d1 !important;
	background:none;
	text-decoration: none
}
.bordered-red-btn {
	border: 1px solid #CD363D;
	color: #CD363D!important;
	border-radius: 2px;
}
.bordered-red-btn:hover {
	border-color: #CD363D;
	color: #CD363D!important;
	text-decoration: none
}
.no-click-btn {
	cursor: default !important;
	pointer-events: none;
}
.favouritedBtn{
	color: #BDBDBD;
	text-align: center;
	position: relative;
	border-radius: 2px;
	font-size: 1em;
	padding: 4px 7px!important;
	background-color:#fff!important;
}
.favouritedBtn:hover{
	background-color: #333;
}
.favourite {
	background-color: #CD363D;
}
.red-btn{
	background-color: #d84a4a;
	border: 1px solid #d84a4a;
	color: #fff;
}
.red-btn:hover{
	background-color: #c34343!important;
	color: #fff;
}
.blue-btn {
	background-color: #3B5998;
	border: 1px solid #3B5998;
	color: #fff;
}
.blue-btn:hover {
	background-color: #344f87;
	color: #fff;
}
.grey-btn{
	background: #bdbdbd;
	border: 1px solid #bdbdbd;
	color:#fff;
}
.grey-btn:hover{
	background: #333;
	color:#fff;
}
.reset_btn{
	float: right;
	padding: 7px!important;
}
.btn_holder_middle .btn{
	font-family: Light;
	float:none;
	margin:0;
}
.btn-dark{
	background-color: #333!important;
}
input.btn.sole-btn.red-btn{
	line-height: 25px!important;
	background-color: #D84A4A;
	color: #fff;
	border-radius: 0;
	box-sizing: border-box;
}
.btn.sole-btn.blue-btn.fb-register img{margin-top:-2px!important;margin-right:10px!important;}
/* Backgrounds */
.white-bg {
	background-color: #fff;
}
/* Colors */
.white, .white:visited {
	color: #fff;
}
.red, .red:visited {
	color: #d84a4a;
}
a.red:hover, a .red:hover {
	color: #c23838;
}
.green, .green:visited {
	color: #56ad65;
}
a.dark-grey:hover, a .dark-grey:hover {
	color:#bfbfbf;
}
.grey, .grey:visited {
	color: #BFBFBF;
}
a.grey:hover, a .grey:hover {
	color: #333;
}
.black{
	color: black;
}
.new-releases .grey {
	color: #BFBFBF;
	display: inline-block;
	min-height: 3em;
}
.dark-grey, .dark-grey:visited {
	color: #333;
}
/* General */
.height2{
	height: 2em;
}
.bordered-box{
	border: 1px solid #f5f5f5;
	padding:10px 20px;
}
.border-bottom{
	border-bottom: 1px solid #f5f5f5;
}
.border-left{
	border-left: 1px solid #f5f5f5;
}
.border-right{
	border-right: 1px solid #f5f5f5;
}
.border-bottom-dark{
	border-bottom: 1px solid #d5d5d5;
}
.no-padding{
	padding:0;
}
.no-padding-left{
	padding-left:0;
}
.no-margin-top{
	margin-top:0;
}
.no-margin-bottom{
	margin-bottom:0;
}
.margin-bottom-1{
	margin-bottom:1em;
}
.margin-bottom-2{
	margin-bottom: 2rem;
}
.margin-top-quarter{
	margin-top:0.25em;
}
.margin-top-half{
	margin-top:0.5em;
}
.margin-top-1{
	margin-top:1em;
}
.margin-right-half {
	margin-right: 0.5rem;
}
.margin-right-1{
	margin-right:1em;
}
.margin-bottom{
	margin-bottom:5px;
}
/* Mac  Fixes */
body.mac .btn {
	padding: 10px 8px 3px!important;
}
body.mac .sole-btn {
	padding: 8px 7px 3px!important;
	line-height: 0.9em!important;
}
.upload_btn{
	padding: 8px 7px 3px!important
}
body.mac .bordered-btn {
	padding: 7px 7px 2px!important;
}
/*body.mac .btn {
	line-height: 24px!important;
	height:32px;
}*/
.mac .profile-nav-tabs li a{
	padding-bottom: 0!important;
}
.mac .user_box img{
	margin-top:-8px;
}
.mac .pop-up .sole-btn{
	line-height: 1.4em!important;
}
body.mac .search-top {
	background-position:0 -1px;
}
body.mac .footer-navbar li a{
	padding:22px 15px 0px;
}
body.mac .footer-navbar .search-top{
	margin-top: 22px;
	padding-top: 0;
	padding-right: 0;
}
.mac .filter-option li label, .filter-option li a{
	line-height: 15px;
	padding-top:7px;
}
body.mac .filter-option li label, .filter-option li a {
	background-position: 3px 6px;
}
.mac .colour-box{
	margin-top: -1px;
}
.mac input[type=text], .mac input[type=email], .mac input[type=password], .mac input[type=number]{
	padding-top: 12px;
}
.mac .form-control {
	line-height:1.2em;
}
.mac .trigger, .activetrigger{
	background-position: 99% 30%;
}
.mac .footer-content .user_box img {
	margin-top: -10px;
}
.mac footer a.login {
	padding-right: 0 !important;
	padding-top: 22px !important;
}
.mac .select_wrapper {
	line-height: 38px;
}
.mac .pagination li{
	line-height:26px;
}
.mac .pagination li a{
	padding:4px 12px 0px;
}
.mac .slideshow .current img{
	/*margin-top: -24px;*/
}
.mac .profile-image-header{
	margin-top: -5px;
}
.mac .location-icon{
	margin-top:-2px;
}
.mac .footer-navbar li a.sole-btn{
	margin-top: 16px;	
}

.advance-link img{
	margin-top: -14px;
}
/* EG */
.success_message {
	position: fixed;
	top: 70px;
	width: 30vw;
	background-color: rgb(238, 251, 239);
	min-height: 1em;
	left: 35vw;
	z-index: 999999;
	font-size: 16px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #27C53A;
	text-align: center;
	color: #0B4A13;
	line-height: 16px;
	display: none;
}
.error_message {
	position: fixed;
	top: 70px;
	width: 30vw;
	background-color: rgb(255, 227, 227);
	min-height: 1em;
	left: 35vw;
	z-index: 999999;
	font-size: 16px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #D84A4A;
	text-align: center;
	color: #D84A4A;
	line-height: 16px;
	display: none;
}

.register_loader{
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	padding: 4px 50%;
	background-color: #D84A4A;
}

.register_loader img {
	height: 15px;
	width: auto;
	margin: 4px auto 4px -6px;
}

#upload-pic-form{
	display: none;
}

#upload_profile_image{
	display: none;
}

div#preview_upload {
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #2e2e2e;
	border-color: #2e2e2e;
}

.ajax_loader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 99999999;
}

.ajax_loader img {
	display: table;
	margin: auto;
	position: relative;   top: 50%;   transform: translateY(-50%);
}

.colour-box {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	border: 1px solid #dfdfdf;
}

.profile-img {
	padding-bottom: 100%;
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	box-sizing: content-box;
}
.follow_btn {
	border: 1px solid #CD363D;
	color: #CD363D!important;
	border-radius: 2px;
}

.follow_btn.following {
	background-color: #d84a4a;
	color: #fff !important;
	border-color: #d84a4a;
}

.img-circle.img-responsive.pull-right.profile-img {
	width: 25px;
	height: 25px;
	padding-bottom: 0;
	margin-top: -10px;
}
.img-circle-small {
	width: 25px;
	height: 25px;
	padding-bottom: 0;
	margin: 0 5px;
}

.img-circle-extra-small
{
	width: 16px;
	height: 16px;
	padding-bottom: 0;
	margin: 0 5px;
}
.img-circle-small:first-child, .img-circle-extra-small:first-child {
	margin-left: 0;
}

.profile-image {
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	box-sizing: content-box;
	border-radius: 50%;
	border: 1px solid #242424;
}
.profile-image-large {
	width: 80px;
	height: 80px;
}
.profile-image-medium {
	width: 50px;
	height: 50px;
}
.profile-image-small {
	width: 40px;
	height: 40px;
}
.profile-image-extra-small {
	width: 16px;
	height: 16px;
}
.profile-image-header {
	width: 22px;
	height: 22px;
	margin-left: 5px;
}

.slideshow-container {
	overflow: hidden;
}

.load_more{
	cursor: pointer;
}
.load_more.selected {
	font-weight: bold;
	color: #333;
}
a.more_comments {
	text-align: center;
	width: 100%;
	display: inline-block;
	cursor: pointer;
}

.comments-area-holder {
	width: 100%;
}

.username_pop {
	height: 50vh;
	background: #fff;
	z-index: 999999;
}
.username_box_overlay {
	background-color: rgba(247, 247, 247, 0.85);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.tlva{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*Share buttons*/
.socail_share_wrap {
	width: 100%;
	display: block;
	clear: both;
}

.share_btn {
	width: 30%;
	float: left;
	margin: 1%;
	height: 40px;
	border-radius: 5px;
	cursor: pointer;
}

.icon_wrap {
	float: left;
	display: block;
	width: 20%;
	height: 100%;
	border-radius: 5px 0 0 5px;
	color: #fff;
	padding: 5%;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
}

.share_text {
	float: left;
	width: 55%;
	height: 100%;
	padding: 6% 5%;
	color: #fff;
	font-size: 16px;
	font-family: Bold;
	line-height: 16px;
	background-color: rgba( 0, 0, 0, 0.1 );
}

.share_count {
	float: left;
	width: 25%;
	padding: 6%;
	height: 100%;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	font-family: SemiBold;
	background-color: rgba( 0, 0, 0, 0.1 );
	text-align: right;
}

.fb_share:hover {
	background-color: #314a83;
}

.fb_share{
	background: #3a579a;
	margin-left: 0;
}

.gplus_share{
	background: #df4a32;
}
.gplus_share:hover{
	background: #be3f2b;
}

.twit_share{
	background: #00abf0;
}
.twit_share:hover{
	background: #0092cc;
}

.wanted-tag {
	right: 5%;
	top: 45vh;
	position: absolute;
	border-color: #d84a4a;
	background-color: #fff;
	color: #d84a4a;
	font-weight: bold;
	width: 12rem;
	pointer-events: none;
}
#comment_input {
	resize: none;
}

.nav #register-link {
	margin-left: 0 ;
}

.login_to_comment{
	display: block;
	float: none;
	clear: both;
	text-align: center;
	padding-top: 10px;
}

.select_wrapper span {
	width: auto !important;
	padding-left: 20px;
}

.main_image {
	min-height: 500px;
}

label.checkbox-inline.btn.sole-btn.bordered-grey-btn.checked {
	border-color: #333;
	color: #333!important;
	background: none;
	text-decoration: none;
}

.form-group {
	margin-top: 10px;
}
.btn-image{
	margin-top: -2px;
}

.offer-sent-box{
	/*margin-top: calc(22% - 120px);*/
	float: left;
	width: 50vw;
	/*margin-left: 9vw;*/
}
.offer-sent-box .bordered-box{
	padding:25px 0;
}

.transaction-complete-box {
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.shoe_image {
	width: calc(25% - 5px);
	background-color: #f9f9f9;
	margin-right:6px;
	margin-top:10px;
	height:5vh;
	overflow:hidden;
	float: left;
	background-position: center;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.shoe_image.main_image_upload{
	height: 20vh;
	width: 100%;
	min-height:200px;
}

.shoe_image_input {
	height: 100%;
	opacity: 0;
	cursor: pointer;
	top: 0;
	position: absolute;
	width: 100%;
	left: 0;
}

.shoe_image:nth-last-child(1){
	margin-right:0px;
}
.shoe_image p {
	font-size: 1.5em;
	text-align: center;
	color: #bfbfbf;
	cursor: pointer;
	margin: 5px 0;
}

a.shoeLink {
	width: 100%;
	display: block;
	height: 70%;
	cursor: pointer;
}

.pay-btn{
	height: 2.5em;
}

input[name="cost"]::-webkit-outer-spin-button,
input[name="cost"]::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

h2.big_title{
	padding: 1px 0 5px 0;
	font-size: 24px;
	line-height: 30px;
	text-transform: none;
	margin-bottom:0;
}

.product-description p {
	font-size: 16px;
}

.clear {
	clear: both;
}

.username a  {
	color: #000;
	font-size: 24px;
}
.followers_shoe_page{
	border-right: 1px solid #f5f5f5;
	padding-right: 1em;
}
.comments-form .form-group {
    margin: 0;
}

.profile-nav-tabs li a {
    font-size: 22px;
}

label{
	font-weight: normal;
    font-size: 16px;
}

.notification_badge {
	font-weight: bold;
	background: red;
	border-radius: 5px;
	color: white;
	float: left;
	padding: 0 3px;
	margin-right: 5px;
	margin-top: 1px;
	width: 25px;
	text-align: center;
	font-size: 12px;
}

.mac .notification_badge {
	margin-top: -4px;
	padding-bottom: 0;
	padding-top: 2px;
}

p.bank-setup-text {
	margin-top: 15px;
	line-height: 16px;
}